@{
    Layout = null;
}
<!DOCTYPE html>
<html id="html1" lang="zh">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="renderer" content="webkit">
    <title>医疗器械（UDI）服务云平台</title>
    <link rel="shortcut icon" href="../../../../images/ncp.ico">
    <link href="../../../../lib/bootstrap/css/nonresponsive-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../lib/fonts/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../../../../css/ace-fonts.css" rel="stylesheet" type="text/css" />
    <link href="../../../../css/ace.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/jquery.uploadify-v3.2/css/uploadify.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/date-time/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/jquery.loadmask.spin/css/jquery.loadmask.spin.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../css/custom.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="../../css/ace-part2.css" />
            <link rel="stylesheet" type="text/css" href="../../css/ace-ie.css" />
		<![endif]-->
    <!--[if lte IE 8]>
		<script type="text/javascript" src=""../../js/html5shiv.js"></script>
		<script type="text/javascript" src="../../js/respond.js"></script>
		<![endif]-->
    <link href="../../../../newmenu/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../../../newmenu/css/style.css" rel="stylesheet" type="text/css" />
</head>
@*<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" /><title>医疗器械（UDI）服务云平台</title> 
    <link rel="shortcut icon" href="../../../../images/ncp.ico">
    <link href="../../../../lib/bootstrap/css/nonresponsive-bootstrap.css" rel="stylesheet"
        type="text/css" />
    <link href="../../../../lib/fonts/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="../../../../css/ace-fonts.css" rel="stylesheet" type="text/css" />
    <link href="../../../../css/adminace.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/jquery.uploadify-v3.2/css/uploadify.css" rel="stylesheet" type="text/css" />
     <link href="../../lib/bootstrap-chosen/bootstrap-chosen.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/date-time/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/date-time/css/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="../../../../lib/jquery.loadmask.spin/css/jquery.loadmask.spin.css" rel="stylesheet"
        type="text/css" />
   <link href="../../../../css/admincustom.css" rel="stylesheet" type="text/css" />
    <link href="../../../../css/custom.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="../../css/ace-part2.css" />
            <link rel="stylesheet" type="text/css" href="../../css/ace-ie.css" />
		<![endif]-->
    <!--[if lte IE 8]>
		<script type="text/javascript" src=""../../js/html5shiv.js"></script>
		<script type="text/javascript" src="../../js/respond.js"></script>
		<![endif]-->
            <link href="../../../../newmenu/css/common.css" rel="stylesheet" type="text/css" />
    <link href="../../../../newmenu/css/style.css" rel="stylesheet" type="text/css" />
</head>*@
<body class="no-skin" id="body1">
    <div id="applicationHost">
        @*<div class="splash">
            <div class="message">
                新版农业－管理后台
            </div>
            <i class="icon-spinner icon-2x icon-spin active"></i>
        </div>*@
    </div>
    <script src="../../../../lib/require/require.js" data-main="../../../../Areas/Admin/SysApp/main"></script>
</body>
</html>
