@{
    Layout = null;
}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>积分说明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">
		<link rel="stylesheet" type="text/css" href="../public_css/base.css">
		<link rel="stylesheet" type="text/css" href="../public_css/public-style.css">
		<link rel="stylesheet" type="text/css" href="../public_css/login.css">
		<script type="text/javascript">
		    document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>

	<body>
		<header class="OriginHead bar-green">
			<a href="/Wap_Integral/Index" class="bar-item pull-left"><i class="icon bar-arrow-left"></i></a>
			<h1 class="bar-title">积分说明</h1>
		</header>
		<div class="coupon-content">
			<div class="page article">
	            <div class="page__bd">
			        <article class="weui-article">
			            <h1>医疗器械（UDI）服务云平台积分相关规则</h1>

			                <section>
			                    <h3>（一）通用积分累计规则</h3>
			                    <p>
			                        在商城中部分商品设有积分项，购买赠送积分的商品后，商城系统会对客户的积分进行增加并逐次累积。实际消费按10：1积分。即消费10元得到相应1积分。（特价商品、团购商品、限时抢购等除外）
			                    </p>
			                </section>
			        </article>
			    </div>
	            
	        </div>
		</div>

	</body>

</html>
