<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dal.Properties.Settings.YiLiaoWebConnectionString"
            connectionString="Data Source=121.28.25.114;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Dal.Properties.Settings>
            <setting name="Dal_SendMsg_SPortService" serializeAs="String">
                <value>http://opensms.fiwan.cn:80/GogowanSMS/SPort</value>
            </setting>
        </Dal.Properties.Settings>
    </applicationSettings>
</configuration>