@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>医疗器械（UDI）服务云平台</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" id="viewport">

	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="yes" name="apple-touch-fullscreen" />
	<meta content="telephone=no,email=no" name="format-detection" />
	<meta content="maximum-dpr=2" name="flexible" />
	<link rel="stylesheet" type="text/css" href="../../Content/wap/English/css/style.css" />
	<link rel="stylesheet" type="text/css" href=" ../../Content/wap/English/css/flexible.css" />
	<link rel="stylesheet" href="../../Content/wap/English/css/reset.css" />
	<script type="text/javascript" src="../../Content/wap/English/js/flexible.js"></script>
    	<style type="text/css">
		.app{
			font-family: "微软雅黑";
		}
	</style>
</head>

<body>
	<div class="app">
		<div class="head">
			<div class="sign">
				<img src="../../Content/wap/English/img/logo.png" alt="">
				<!--<button>中文</button>-->
				<a class="cut" href="Index">英语</a>
				
			</div>
			<img src="../../Content/wap/English/img/hd.png" alt="" class="exhibition">
		</div>
		<div class="body">
          <div class="introduction" style="margin-top: .6rem">
			  <img src="../../Content/wap/English/img/6_03.png" class="imgred"/>
			  <div class="fr">
					<section class="LightDescription">
							<!-- <span class="border">MONTES</span> -->
							<p class="tit" style="font-size:0.38rem"> <span class="border">蒙特斯</span>阿尔法</p>
							<p class="conL">
									<!--Montes Alpha Special Cuvee is a new milestone that came to life as a result of the self imposed challenge set by our team of viticulturists and winemakers, headed by Aui. e- lio Montes, to elevate our quality, crafting a new generation of wines superior to Montes Alpha-->
									蒙特斯阿尔法是一个新的里程碑，它是由我们的葡萄栽培师和酿酒师团队，奥雷里奥蒙特尔为首，为提高我们的质量，精心打造了一个新一代的产品，出于蒙特拉尔法的自我模仿的挑战。
								</p>
						</section>
			  </div>
		  </div>
       

			<div class="template" style="margin-top: 1rem">
				<h3 class="tit">
					<span class="character border">
						<!--Place of origin-->
						发源地
					</span>

				</h3>
				<div class="con">
					<div class="row">
						<span class="fl">
							国家
						</span>
						<div class="fr">
							<span>智利   
							</span>
							<!--<img />-->
							<img  src="../../Content/wap/English/img/badge.png"/>
							
						</div>
					</div>
					<div class="row">
						<span class="fl">
							区域
						</span>
						<div class="fr">
							<span>
								<!--Colchagua Valley-->科尔查瓜谷
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							省
						</span>
						<div class="fr">
							<span>
								<!--Santa Cruz-->
								圣克鲁兹
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--City-->
							市
						</span>
						<div class="fr">
							<span>米拉赫
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							行业
						</span>
						<div class="fr">
							<span>
								<!--Food&Beverage-->
								食品与饮料   
							</span>
							<img />
						</div>
					</div>

					<div class="row">
						<span class="fl">
							<!--Product Group-->
							产品组
						</span>
						<div class="fr">
							<span>
								<!--Wine-->葡萄酒
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Product Group-->产品组
						</span>
						<div class="fr">
							<span>
								<!--Red Wine-->红酒
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Winery-->
							酒厂
						</span>
						<div class="fr">
							<span>
								<!--Montes-->
								蒙特斯
							</span>
							<img />
						</div>
					</div>

				</div>
			</div>
			<div class="template">
				<h3 class="tit">
					<span class="character border">
						<!--Product information-->
						产品信息
					</span>

				</h3>
				<div class="con">
					<div class="row">
						<span class="fl">
							<!--Wine-->
							葡萄酒
						</span>
						<div class="fr">
							<span>
								<!--Montes Alpha-->蒙特斯阿尔法   
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Grapes-->
							葡萄
						</span>
						<div class="fr">
							<span>
								<!--Cabernet Sauvignon 85%, Syrah 10%, Carmenere 5%-->赤霞珠85％，西拉10％，卡梅内尔5％
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Barrel-->桶
						</span>
						<div class="fr">
							<span>
								<!--French Oak-->法国橡木  
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Alcohol Content(ABV)-->
							酒精含量（ABV）
						</span>
						<div class="fr">
							<span>12%
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Serving Temperature-->
							服务温度
						</span>
						<div class="fr">
							<span>
								<!--17°-19°(60°-66°F). Decant for 30 minutes-->17°-19°（60°-66°F）。倒出30分钟   
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Pairing-->
							配对
						</span>
						<div class="fr">
							<span>
								<!--Red Meat-->红肉   
							</span>
							<img />
						</div>
					</div>
					<div class="row">
						<span class="fl">
							<!--Awards-->
							奖项
						</span>
						<div class="fr">
							<span>
								<!--JAMES SUCKLING -2019 96 Points-->JAMES SUCKLING -2019 96分   
							</span>
							<img />
						</div>
					</div>

					<div class="describe"> </div>
					<section class="LightDescription">
						<p class="tit">
							<!--Certifications-->认证
						</p>

					</section>
					<div class="describe"> </div>

					<section class="LightDescription">
						<p class="tit">
							<!--Background-->
							背景
						</p>
						<p class="tit">
							<!--Probably the most fitting sample possible of the Chilefs best Wines, all of which are grown
							in Colchagua, Chile.-->可能是Chilefs最好的葡萄酒最合适的样品，所有这些葡萄酒都生长在智利的科尔查瓜。
						</p>
						<p class="conL">
							<!--This territory is recognized around the world for the extraordinary quality of the red wines
							produced there. The excellent soil conditions plus the optimal climate throughout the year
							create the perfect tenoir for the production of Montes Alpha.-->
							该地区因其生产的红葡萄酒的非凡品质而在世界范围内得到认可。优良的土壤条件加上全年最佳的气候条件为Montes Alpha的生产创造了完美的土地。
						</p>
						<div class="describe"> </div>

					</section>
				</div>
			</div>



			<div class="template">
					<h3 class="tit">
						<span class="character border">
								<!--Other information-->其他信息
						</span>
	
					</h3>
					<div class="con">
						<div class="row">
							<span class="fl">
									<!--Date of Agronomic Activity-->农艺活动日期
							</span>
							<div class="fr">
								<span>
									<!--2018/3/2-->2018年3月2日   
								</span>
								<img />
							</div>
						</div>
						<div class="row">
							<span class="fl">
									<!--Date of Harvest--> 收获日期
							</span>
							<div class="fr">
								<span>
									<!--9/28/2019 - 10/4/2018-->9/28/2019 - 10/4/2018   
								</span>
								<img />
							</div>
						</div>
						<div class="row">
							<span class="fl">
									<!--Date of Vinification-->酿酒日期
							</span>
							<div class="fr">
								<span>
										<!--2018/9/28-->2018年9月28日   
								</span>
								<img />
							</div>
						</div>
						<div class="row">
							<span class="fl">
									<!--Date of Refinement-->
									细化日期
							</span>
							<div class="fr">
								<span>
									<!--2018/11/16-->2018年11月16日   
								</span>
								<img />
							</div>
						</div>
						<div class="row">
							<span class="fl">
									<!--Date of Bottling-->
									装瓶日期
							</span>
							<div class="fr">
								<span>
									<!--2019/1/25-->2019年1月25日
								</span>
								<img />
							</div>
						</div>
	
						<!-- <div class="row">
							<span class="fl">
								Product Group
							</span>
							<div class="fr">
								<span>Wine
								</span>
								<img />
							</div>
						</div> -->
						<!-- <div class="row">
							<span class="fl">
								Product Group
							</span>
							<div class="fr">
								<span>Red Wine
								</span>
								<img />
							</div>
						</div> -->
						<!-- <div class="row">
							<span class="fl">
								Winery
							</span>
							<div class="fr">
								<span>Montes
								</span>
								<img />
							</div>
						</div> -->
	
					</div>
				</div>

				<div class="template">
						<h3 class="tit">
							<span class="character border">
									<!--Logistics information-->物流信息
							</span>
		
						</h3>
						<div class="con">
							<div class="row">
								<span class="fl">
										<!--Date of Export-->
										出口日期
								</span>
								<div class="fr">
									<span>
										<!--2019/2/10-->2019年2月10日
									</span>
									<img />
								</div>
							</div>
							<div class="row">
								<span class="fl">
										<!--Name of China Port-->中国港口名称
								</span>
								<div class="fr">
									<span>
										<!--2019/3/24-->2019年3月24日
									</span>
									<img />
								</div>
							</div>
							<div class="row">
								<span class="fl">
										<!--Name of Distributor-->经销商名称
								</span>
								<div class="fr">
									<span>
											<!--Shanghai-->上海   
									</span>
									<img />
								</div>
							</div>
							<div class="row">
								<span class="fl">
										<!--Point of Sale-->销售点
								</span>
								<div class="fr">
									<span>
									</span>
									<img />
								</div>
							</div>
							<div class="row">
								<span class="fl">
										<!--Customer Comments-->客户评论
								</span>
								<div class="fr">
									<span>
									</span>
									<img />
								</div>
							</div>
		
							<div class="describe"> </div>
							<!-- <section class="LightDescription">
								<p class="tit">
									Certifications
								</p>
		
							</section>
							<div class="describe"> </div> -->
		
							<section class="LightDescription">
								<p class="tit">
										<!--Website-->
										网站
								</p>
								<!-- <p class="tit">
									Probably the most fitting sample possible of the Chilefs best Wines, all of which are grown
									in Colchagua, Chile.
								</p> -->
								<p class="conL">
								<a href="https://www.monteswines.com/en/wines">https://www.monteswines.com/en/wines</a>		
									<!-- This territory is recognized around the world for the extraordinary quality of the red wines
									produced there. The excellent soil conditions plus the optimal climate throughout the year
									create the perfect tenoir for the production of Montes Alpha. -->
								</p>
								<div class="describe"> </div>
		
							</section>
		
						</div>
					</div>

		</div>
		<div class="foot">

		</div>
	</div>
</body>

</html>
