@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>医疗器械（UDI）服务云平台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
        id="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="maximum-dpr=2" name="flexible" />
    <link rel="stylesheet" type="text/css" href="../../Content/wap/English/css/style.css" />
    <link rel="stylesheet" type="text/css" href=" ../../Content/wap/English/css/flexible.css" />
    <link rel="stylesheet" href="../../Content/wap/English/css/reset.css" />
    <script type="text/javascript" src="../../Content/wap/English/js/flexible.js"></script>
</head>
<body>
    <div class="app">
        <div class="head">
            <div class="sign">
                <img src="../../Content/wap/English/img/logo.png" alt="">
                <a class="cut" href="Chines">Chinese</a>
            </div>
            <img src="../../Content/wap/English/img/hd.png" alt="" class="exhibition">
        </div>
        <div class="body">
            <div class="introduction" style="margin-top: .6rem">
                <img src="../../Content/wap/English/img/6_03.png" class="imgred" />
                <div class="fr">
                    <section class="LightDescription">
							<!-- <span class="border">MONTES</span> -->
							<p class="tit" style="font-size:0.38rem"> <span class="border">MONTE</span>S ALPHA SPECIAL CUVEE</p>
							<p class="conL">
									Montes Alpha Special Cuvee is a new milestone that came to life as a result of the self imposed challenge set by our team of viticulturists and winemakers, headed by Aui. e- lio Montes, to elevate our quality, crafting a new generation of wines superior to Montes Alpha
								</p>
						</section>
                </div>
            </div>
            <div class="template" style="margin-top: 1rem">
                <h3 class="tit">
                    <span class="character border">Place of origin </span>
                </h3>
                <div class="con">
                    <div class="row">
                        <span class="fl">Country </span>
                        <div class="fr">
                            <span>Chile </span>
                            <img src="../../Content/wap/English/img/badge.png">
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Region </span>
                        <div class="fr">
                            <span>Colchagua Valley </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Province </span>
                        <div class="fr">
                            <span>Santa Cruz </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">City </span>
                        <div class="fr">
                            <span>Millahue </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Industry </span>
                        <div class="fr">
                            <span>Food&Beverage </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Product Group </span>
                        <div class="fr">
                            <span>Wine </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Product Group </span>
                        <div class="fr">
                            <span>Red Wine </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Winery </span>
                        <div class="fr">
                            <span>Montes </span>
                            <img />
                        </div>
                    </div>
                </div>
            </div>
            <div class="template">
                <h3 class="tit">
                    <span class="character border">Product information </span>
                </h3>
                <div class="con">
                    <div class="row">
                        <span class="fl">Wine </span>
                        <div class="fr">
                            <span>Montes Alpha </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Grapes </span>
                        <div class="fr">
                            <span>Cabernet Sauvignon 85%, Syrah 10%, Carmenere 5% </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Barrel </span>
                        <div class="fr">
                            <span>French Oak </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Alcohol Content(ABV) </span>
                        <div class="fr">
                            <span>12% </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Serving Temperature </span>
                        <div class="fr">
                            <span>17°-19°(60°-66°F). Decant for 30 minutes </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Pairing </span>
                        <div class="fr">
                            <span>Red Meat </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Awards </span>
                        <div class="fr">
                            <span>JAMES SUCKLING -2019 96 Points </span>
                            <img />
                        </div>
                    </div>
                    <div class="describe">
                    </div>
                    <section class="LightDescription">
						<p class="tit">
							Certifications
						</p>

					</section>
                    <div class="describe">
                    </div>
                    <section class="LightDescription">
						<p class="tit">
							Background
						</p>
						<p class="tit">
							Probably the most fitting sample possible of the Chilefs best Wines, all of which are grown
							in Colchagua, Chile.
						</p>
						<p class="conL">
							This territory is recognized around the world for the extraordinary quality of the red wines
							produced there. The excellent soil conditions plus the optimal climate throughout the year
							create the perfect tenoir for the production of Montes Alpha.
						</p>
						<div class="describe"> </div>

					</section>
                </div>
            </div>
            <div class="template">
                <h3 class="tit">
                    <span class="character border">Other information </span>
                </h3>
                <div class="con">
                    <div class="row">
                        <span class="fl">Date of Agronomic Activity </span>
                        <div class="fr">
                            <span>2018/3/2 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Date of Harvest </span>
                        <div class="fr">
                            <span>9/28/2019 - 10/4/2018 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Date of Vinification </span>
                        <div class="fr">
                            <span>2018/9/28 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Date of Refinement </span>
                        <div class="fr">
                            <span>2018/11/16 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Date of Bottling </span>
                        <div class="fr">
                            <span>2019/1/25 </span>
                            <img />
                        </div>
                    </div>
                </div>
            </div>
            <div class="template">
                <h3 class="tit">
                    <span class="character border">Logistics information </span>
                </h3>
                <div class="con">
                    <div class="row">
                        <span class="fl">Date of Export </span>
                        <div class="fr">
                            <span>2019/2/10 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Name of China Port </span>
                        <div class="fr">
                            <span>2019/3/24 </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Name of Distributor </span>
                        <div class="fr">
                            <span>Shanghai </span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Point of Sale </span>
                        <div class="fr">
                            <span></span>
                            <img />
                        </div>
                    </div>
                    <div class="row">
                        <span class="fl">Customer Comments </span>
                        <div class="fr">
                            <span></span>
                            <img />
                        </div>
                    </div>
                    <div class="describe">
                    </div>
                    <!-- <section class="LightDescription">
								<p class="tit">
									Certifications
								</p>
		
							</section>
							<div class="describe"> </div> -->
                    <section class="LightDescription">
								<p class="tit">
										Website
								</p>
								<!-- <p class="tit">
									Probably the most fitting sample possible of the Chilefs best Wines, all of which are grown
									in Colchagua, Chile.
								</p> -->
								<p class="conL">
								<a href="https://www.monteswines.com/en/wines">https://www.monteswines.com/en/wines</a>		
									<!-- This territory is recognized around the world for the extraordinary quality of the red wines
									produced there. The excellent soil conditions plus the optimal climate throughout the year
									create the perfect tenoir for the production of Montes Alpha. -->
								</p>
								<div class="describe"> </div>
		
							</section>
                </div>
            </div>
        </div>
        <div class="foot">
        </div>
    </div>
</body>
</html>
