<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqModel.Properties.Settings.FWZSNyWebNewConnectionString"
            connectionString="Data Source=192.168.1.44;Initial Catalog=FWZSNyWebNew;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=WineShow;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString3"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString2"
            connectionString="Data Source=192.168.1.7;Initial Catalog=Agric_Code;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Agric_CodeConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=Agric_Code;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString4"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricShowConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricShow;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString5"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricShowConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricShow;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString6"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString7"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString8"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_cllyt"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.WineShowConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=WineShow;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.WineWebConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=WineWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Wine_CodeConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=Wine_Code;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Wine_CodeConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=Wine_Code;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.WineWebConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=WineWeb;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.WineWebConnectionString2"
            connectionString="Data Source=192.168.1.7;Initial Catalog=WineWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString9"
            connectionString="Data Source=192.168.1.40;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Agric_CodeConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=Agric_Code;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Agric_CodeConnectionString2"
            connectionString="Data Source=192.168.1.40;Initial Catalog=Agric_Code;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString10"
            connectionString="Data Source=192.168.1.40;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.Agric_CodeConnectionString3"
            connectionString="Data Source=192.168.1.40;Initial Catalog=Agric_Code;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString11"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString12"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString13"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString14"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_tester;Password=zjb123"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.AgricWebConnectionString15"
            connectionString="Data Source=192.168.1.7;Initial Catalog=AgricWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.NewMeatTraceWebConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NewMeatTraceWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.NewMeatTraceWebConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=NewMeatTraceWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.NewMeatTraceWebConnectionString2"
            connectionString="Data Source=123.56.91.27;Initial Catalog=NewMeatTraceWeb;User ID=nmctest"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString1"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString2"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString3"
            connectionString="Data Source=123.56.91.27;Initial Catalog=YiLiaoWeb;User ID=gl"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString4"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString5"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_tester"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString6"
            connectionString="Data Source=192.168.1.7;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_tester;Password=zjb123"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString7"
            connectionString="Data Source=192.168.1.227;Initial Catalog=YiLiaoWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString8"
            connectionString="Data Source=.;Initial Catalog=TracePublicData;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.TracePublicDataConnectionString"
            connectionString="Data Source=.;Initial Catalog=TracePublicData;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString9"
            connectionString="Data Source=192.168.1.227;Initial Catalog=YiLiaoWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTrace_CodeConnectionString"
            connectionString="Data Source=192.168.1.227;Initial Catalog=ImpTrace_Code;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString10"
            connectionString="Data Source=121.28.25.114;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ShamoTraceWebConnectionString"
            connectionString="Data Source=192.168.1.227;Initial Catalog=ShamoTraceWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString11"
            connectionString="Data Source=192.168.1.47;Initial Catalog=YiLiaoWeb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.ImpTraceWebConnectionString12"
            connectionString="Data Source=.;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString"
            connectionString="Data Source=121.28.25.114;Initial Catalog=YiLiaoWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString1"
            connectionString="Data Source=121.28.25.114;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString2"
            connectionString="Data Source=192.168.1.227;Initial Catalog=YiLiaoWeb;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString3"
            connectionString="Data Source=192.168.1.47;Initial Catalog=YiLiaoWeb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString4"
            connectionString="Data Source=192.168.1.47;Initial Catalog=YiLiaoWeb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString5"
            connectionString="Data Source=192.168.1.47;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString6"
            connectionString="Data Source=192.168.1.227;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString7"
            connectionString="Data Source=.;Initial Catalog=YiLiaoWeb;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="LinqModel.Properties.Settings.YiLiaoWebConnectionString8"
            connectionString="Data Source=.;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>