<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--数据库连接串-->
    <add key="Constr" value="Data Source=.;database=YiLiaoWeb;UID=sa;pwd=123456;" />
    <add key="WebConnect" value="Data Source=.;database=YiLiaoWeb;UID=sa;pwd=123456;" />
    <!--<add key="Constr" value="Data Source=192.168.1.49;database=YiLiaoWeb;UID=sa;pwd=1qazXSW@3edc;"/>
    <add key="WebConnect" value="Data Source=192.168.1.49;database=YiLiaoWeb;UID=sa;pwd=1qazXSW@3edc;"/>-->
    <!--<add key="Constr" value="Data Source=192.168.1.47;database=YiLiaoWeb;UID=sa;pwd=123456;"/>
    <add key="WebConnect" value="Data Source=192.168.1.47;database=YiLiaoWeb;UID=sa;pwd=123456;"/>-->
    <!--服务运行间隔-->
    <add key="TimeSpan" value="1" />
    <!--日志-->
    <add key="ErrLogPath" value="D:\UDI服务\gencode" />
    <!--截止时间 小时 小时大于该值 不进行激活操作-->
    <add key="Hour" value="2" />
    <!--单表最大数据量-->
    <add key="TableMaxCount" value="800000" />
    <add key="test" value="1" />
    <!--处理扫码数据的配置文件路劲-->
    <!--
    <add key="INIFile" value="c:\gencode\ScanEWM"/>-->
    <!--获取IP信息地址-->
    <add key="getipinfo" value="http://123.57.142.199:8142/getIpInfo.ashx?ip={0}" />
    <!--IDcode服务器接口 加密版本  测试-->
    <!--<add key="interfaceUrl" value="https://apitest.idcode.org.cn"/>
    <add key="access_token" value="J7X4LuOOfURXeAAEAAAAAABSK"/>
    <add key="access_token_code" value="RORJOOfU4OJ44XUf4uuXU4JuRLeeRAX7"/>-->
    <!--<add key="interfaceUrl" value="http://api.idcode.org.cn" />
    <add key="access_token" value="J7X4LuOOfURXeAAEAAAAAABSK"/>
    <add key="access_token_code" value="RORJOOfU4OJ44XUf4uuXU4JuRLeeRAX7"/>-->
    <add key="interfaceUrl" value="http://api.idcode.org.cn" />
    <add key="access_token" value="J7X4LuOOfURXeAAEAAAAAABSK" />
    <add key="access_token_code" value="YRLLFBWY0Y0R7RYFQBYQ7U7UHQY4BBFR" />
    <!--国药监地址及授权码-->
    <add key="UDI_URL" value="https://udid.nmpa.gov.cn" />
    <add key="UDI_APPID" value="f511a6037e6241e69cb129348135fcb1" />
    <add key="UDI_AppSecret" value="e74712ef573949ecbdeed670db296e16" />
    <add key="UDI_TYSHXYDM" value="91130100794175098M" />
    <!--每隔几个小时执行一次-->
    <add key="UDIUpdateTime" value="24" />
    <!--同步类型：1 按天请求，2 按月请求，3 全量请求-->
    <add key="requestType" value="1" />
    <!--下载内容解压密码-->
    <add key="ZipPassword" value="hbgl135642" />
    <!--IpRedirect-->
    <add key="IpRedirect" value="http://192.168.1.47:8101/" />
    <!--服务更新经销商信息开始时间-->
    <add key="SellInfoDate" value="2021-08-19" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>