@{
    ViewBag.Title = "YhqCancelOut";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
<script>
    $(function () {
         $("#price").keyup(function () {
            $(this).val($(this).val().replace(/[^\d.]/g, "")); //清除"数字"和"."以外的字符
            $(this).val($(this).val().replace(/^\./g, "")); //验证第一个字符是数字而不是
            $(this).val($(this).val().replace(/\.{2,}/g, ".")); //只保留第一个. 清除多余的
            $(this).val($(this).val().replace(".", "$#$").replace(/\./g, "").replace("$#$", "."));
            $(this).val($(this).val().replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3')); //只能输入两个小数
        });
   $("#btnSave").click(function(){
        if($.trim($("#yhqcode").val())==""){
        alert("请输入优惠券号码！");
             return;
        };
             if($.trim($("#yhqcode").val()).length!=12){
        alert("请输入12位的优惠券号码！");
             return;
        };
            $.post("@Url.Action("YhqCancelOut")",
            {
            yhqcode:$("#yhqcode").val()
            }
            ,function(data){
              if (data.info != null && data.info != "") {
                    alert(data.info);
                }
                if (data.res) {
                    if (data.url != null && data.url != "") {
//                        top.location.href = data.url;
                        art.dialog.close();
                    }
                }
            })
    });
    });
</script>
<html style="overflow-x: hidden">
<head>
    <title></title>
</head>
<body>
    <div class="mc clearfix">
        <div class="user-set userset-lcol">
            <div style="padding-left: 50px" class="form hd-manage-det">
                <div class="infoitem">
                    <span class="hx-tit"><em>*</em>请输入12位优惠券号码，进行核销</span>
                </div>
                <div class="infoitem">
                    <div class="fl">
                        <input type="text" maxlength="12" id="yhqcode" value="" style="width: 200px;" />
                        <span class="s-ipt-tran">请输入奖券号码</span>
                    </div>
                </div>
            </div>
            <p style="padding-left: 40px" class="center mat40">
                <input type="button" id="btnSave" value="核销" class="button">
                <input type="button" id="btnQuXiao" onclick="art.dialog.close();" value="取消" class="button"></p>
        </div>
    </div>
</body>
</html>
