<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="TestID" value="1,2,3"/>
    <add key="VersionCode" value="v2.0.0.20170426"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Overdue" value="7"/>
    <add key="Update" value="平台v2.5.5版本升级公告,请您仔细查阅"/>
    <add key="startTime" value="4:00"/>
    <add key="endTime" value="5:00"/>
    <!--当期日期前7天（投诉日期）-->
    <add key="ComplaintDate" value="-7"/>
    <!--IDcode服务器接口 加密版本  测试-->
    <!--<add key="interfaceUrl" value="https://apitest.idcode.org.cn"/>
    <add key="access_token" value="J7X4LuOOfURXeAAEAAAAAABSK"/>
    <add key="access_token_code" value="RORJOOfU4OJ44XUf4uuXU4JuRLeeRAX7"/>-->
    <!--IDcode服务器接口 加密版本  正式-->
    <add key="interfaceUrl" value="http://api.idcode.org.cn" />
    <add key="access_token" value="F7RWBDUQLR0YH45FAAAAAGC" />
    <add key="access_token_code" value="YRLLFBWY0Y0R7RYFQBYQ7U7UHQY4BBFR" />
    <!--试用户编码-->
    <add key="tryCode" value="t.86.130101." />
    <!--每个文件存放码数据-->
    <add key="InsertCountTXT" value="10000"/>
    <!--数据库连接地址Begin  -->
    <!--<add key="WebConnect" value="Data Source=192.168.1.227;database=YiLiaoWeb;UID=gl_ny;pwd=jsyb123456;"/>
    <add key="ShowConnect" value="Data Source=192.168.1.227;database=YiLiaoShow;UID=gl_ny;pwd=jsyb123456;"/>
    <add key="Code_Connect" value="Data Source=192.168.1.227;database=YiLiao_Code;UID=gl_ny;pwd=jsyb123456;"/>-->
    <!--<add key="WebConnect" value="Data Source=192.168.1.49;database=YiLiaoWeb;UID=sa;pwd=1qazXSW@3edc;"/>
    <add key="Code_Connect" value="Data Source=192.168.1.49;database=YiLiao_Code;UID=sa;pwd=1qazXSW@3edc;"/>-->
    <add key="WebConnect" value="Data Source=.;database=YiLiaoWeb;UID=sa;pwd=123456;"/>
    <add key="Code_Connect" value="Data Source=.;database=YiLiao_Code;UID=sa;pwd=123456;"/>
    <add key="ShowConnect" value="Data Source=192.168.1.49;database=YiLiaoShow;UID=sa;pwd=1qazXSW@3edc;"/>
    <add key="CodeConnect" value="Data Source=datasource;database=databasename;UID=username;pwd=password; Connect Timeout=600"/>
    <!--服务运行间隔-->
    <add key="TimeSpan" value="1" />
    <!--数据库连接地址End-->
    <add key="FtpPath" value="D:/ftp/"/>
    <add key="HttpUrl" value="http://192.168.1.47:8010/"/>
    <add key="FtpUrl" value="ftp://192.168.1.47:21/"/>
    <add key="FtpLoginName" value="ftp"/>
    <add key="FtpPWD" value="Gl.123456"/>
    <add key="PictureExtension" value="bmp|jpg|jpeg|png|gif" />
    <add key="VideoExtension" value="avi|mp4" />
    <add key="ExcelExtension" value="xls|xlsx" />
    <add key="TxtExtension" value="txt" />
    <!--上传文件FTP地址End-->

    <!--企业审核天数-->
    <add key="trydays" value="30"/>
    <!--分页显示的条数-->
    <!--<add key="PageSize" value="10"/>-->
    <!--二维码解析地址-->
    <add key="marketURL" value="http://192.168.1.49:9001/Market/Wap_IndexMarket/Index/?ewm="/>
    <!--<add key="idcodeURL" value="http://s.idcode.org.cn/m?code="/>-->
    <add key="idcodeURL" value="http://192.168.1.49:9001/P?e="/>
    <!--<add key="ncpURL" value="http://sy.idcode.cn/P?e="/>-->
    <add key="ncpURL" value="http://192.168.1.49:9001/P?e="/>
    <add key="enterpriseURL" value="http://192.168.1.49:9001/Wap_Com/Company?ewm="/>
    <add key="cardURL" value="http://192.168.1.49:9001/Wap_Card/Index?ewm="/>
    <!--自动收货时间-->
    <add key="autoConfirmGoods" value="7"/>
    <!--码阀值-->
    <add key="CodeThreshold" value="100"/>
    <!--企业编码-->
    <add key="EnterpriseCode" value="0001"/>
    <!--分页大小-->
    <add key="PageSizeWapData" value="6" />
    <add key="PageSize" value="20" />
    <add key="PageSizeNews" value="10" />
    <!--生成码流水号长度-->
    <add key="LSHLong" value="3" />
    <add key="SysUp" value="a.json" />
    <!--手机客户端下载地址-->
    <add key="AppUrl" value="http://meat.idcode/FiesData/AgricultureSystem.apk"/>
    <add key="PDF" value="医疗器械追溯公共服务云平台使用说明.pdf"/>
    <add key="PDFApp" value="农业追溯手机端使用说明.pdf"/>
    <!--发短信秘钥-->
    <add key="secretKey" value="v4bjT4u1gp1w5qF8HakuxuSw8xQOfXcb"/>
    <!--短信接口远程接口地址-->
    <add key="WebServiceUrl" value="http://opensms.fiwan.cn/GogowanSMS/SPort?wsdl"/>
    <!--微信接口配置-->
    <add key="IpAddress" value="123.56.91.27"/>
    <!--微信接口配置，支付宝，备案码解析地址，微信回调函数-->
    <!--<add key="IpRedirect" value="http://192.168.1.47/"/>-->
    <!--<add key="IpRedirect" value="http://sy.idcode.cn/"/>-->
    <add key="IpRedirect" value="http://192.168.1.47:8101/"/>
    <!--试用数量-->
    <add key="RequestCodeCount" value="10000"/>
    <!--透支数量-->
    <add key="OverDraftCount" value="0"/>
    <!--授权码加密-->
    <add key="key" value="12345678"/>
    <add key="iv" value="12345678"/>
    <!--调取国药监接口地址-->
    <add key="UDI_URL" value="https://udid.nmpa.gov.cn/api/v1"/>
    <add key="UDI_URLNew" value="https://udid.nmpa.gov.cn" />
    <add key="UDI_APPID" value="f511a6037e6241e69cb129348135fcb1" />
    <add key="UDI_AppSecret" value="e74712ef573949ecbdeed670db296e16" />
    <add key="UDI_TYSHXYDM" value="91130100794175098M" />
    <!--日志-->
    <add key="ErrLogPath" value="D:\GYJService" />
    <!--每隔几个小时执行一次-->
    <add key="UDIUpdateTime" value="24" />
    <!--调接口返回token 的有效期，单位/小时-->
    <add key="AddHours" value="4"/>
    <!--市场稽查 扫码稽查 同一码 时间间隔 单位：小时-->
    <add key="timecell" value="24"/>
  </appSettings>

  <system.web>
    <sessionState mode="InProc" timeout="30"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="104857600" useFullyQualifiedRedirectUrl="true" executionTimeout="6000"
      minFreeThreads="8"
      minLocalRequestFreeThreads="4"
      appRequestQueueLimit="100"
      enableVersionHeader="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.1.183:8090/WebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceJK.WebService1Soap" name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>
