@{
    Layout = null;
}
@{
    
    <div class="warp">
    <p class="alignR">
    <a href="#">网站首页</a>
    <span class="padLR10">|</span>

    <a href="#">@ViewBag.LoginName</a>
    <span class="padLR10">|</span><a href="/Login/OutLogin">退出</a></p>
</div>
}
