<div class="page-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i><a href="#home" title="返回到首页">首页</a>
            </li>
            <li class="active">区域品牌管理</li>
        </ul>
        <span><a href="javascript:void(0);" data-bind="click:goBack" title="返回到上一页"><i class="ace-icon fa fa-angle-double-left">
        </i>返回</a> </span>
    </div>
    <div class="row">
        <div class="col-md-3 mat10">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="输入品牌名称搜索" data-bind="value:searchTitle,valueUpdate: 'afterkeydown'">
                <span class="input-group-addon btn-success">
                    <button type="submit" data-bind="click:searchBrand">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row hr pat10">
        <div class="col-md-12">
            <button class="btn btn-lg btn-success" data-bind="click:addBrand">
                添加品牌</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            品牌名称
                        </th>
                        <th>
                            描述
                        </th>
                        <th>
                            LOGO
                        </th>
                        <th width="120">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:vmBrand.ObjList">
                    <tr data-bind="event: { mouseover: $parent.mouseoverFun, mouseout: $parent.mouseoutFun }">
                        <td>
                            <p class="cut width150" data-bind="text:$data.BrandName,attr:{title:$data.BrandName}">
                            </p>
                            <!-- <span data-bind="text:$data.BrandName"></span>-->
                        </td>
                        <td class="width-60">
                            <p class="cut width270" data-bind="text:$data.Descriptions,attr:{title:$data.Descriptions}">
                            </p>
                            <!--<span data-bind="text:$data.Descriptions"></span>-->
                        </td>
                        <td>
                            <a class="pic">
                                <img data-bind="attr:{src:$data.Logo}" /></a>
                        </td>
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons" style="display: none;" eleflag="ShowHand">
                                <a class="green" href="#" data-bind="click: function(data, event) {$parent.editBrand($data.Brand_ID,data,event);}"
                                    title="编辑"><i class="ace-icon fa fa-pencil bigger-150"></i></a><a class="red" href="#"
                                        data-bind="click: function(data, event) {$parent.delBrand($data.Brand_ID,data,event);}"
                                        title="删除"><i class="ace-icon fa fa-trash-o bigger-150"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer no-margin-top no-t-border">
            <ul class="pagination" id="brandPager" data-bind="brandPager:vmBrand.pageSize,totalCounts:vmBrand.totalCounts,pageIndex:vmBrand.pageIndex">
            </ul>
        </div>
    </div>
</div>
