@{
    ViewBag.Title = "Index";
}
<!doctype html>
<meta charset="utf-8">
<title>医疗器械（UDI）服务云平台</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no"
    id="viewport">
<link rel="stylesheet" type="text/css" href="css/home.min.css">
<!-- 页头 -->
<section>
	<header class="headerbox">
		<h1 title="医疗器械（UDI）服务云平台">医疗器械（UDI）服务云平台</h1>
	</header>
</section>
<!--banner图-->
<section class="top_slide_pic">
	<img src="images/banner.jpg">
</section>
<!--nav导航-->
<nav class="b-main-nav">
        <div class="b-main-nav-list">
            <a href="#">站点首页</a>
            <a href="#">企业概述</a>
            <a href="#">产地机制</a>
            <a href="#">生产单元</a>
@*            <a href="#">生产基地</a>*@
            <a href="#">关于我们</a>
        </div>
        
</nav>
<!---->
<section class="section-module">
	<div class="module-t">
        <h3><a href="#">企业概述</a></h3>
    </div>
    <div class="ind-main-body">
<!--正文内容-->
        <p>　　【环球时报驻日本特约记者蓝雅歌&nbsp; 徐珍珍】“维基解密”网站7月31日爆料，美国窃听其在亚太地区重要盟友日本。这一消息爆出后，几乎所有日本报刊和电视台都进行了报道。日本《每日新闻》援引日本政府有关人员的话说，美国的做法“简直是无耻下流”。</p>
	</div>
</section>
<section class="section-module">
	<div class="module-t">
        <h3><a href="#">生产单元</a></h3>
    </div>
    <ul class="news_items morelistbox">
      <li><a href="#">村民指责被拐女教师:败坏名声</a></li>
      <li><a href="#">中国7地上榜全球最安全的50座城市</a></li>
      <li><a href="#">黄海波告别国民女婿后在做啥</a></li>
      <li><a href="#">勇士76人完成小交易</a></li>
      <li><a href="#">保密局潜伏特务接头暗号</a></li>
      <li><a href="#">央行:非网银支付每天拟限5千</a></li>
      <li><a href="#">中国南海大军演宣示不服可来战</a></li>
  </ul>
</section>
<section class="section-module">
	<div class="module-t">
        <h3><a href="#">关于我们</a></h3>
    </div>
    <div class="ind-main-body">
<!--正文内容-->
        <p>　“维基解密”公布的文件显示，美国从2006年开始对日本的35个目标进行窃听，其中包括政府高官及大财团高管。日本NHK电视台报道称，虽然“维基解密”公开的文件中并未显示日本首相安倍晋三遭窃听，但安倍内阁中包括经济产业大臣宫泽洋一及央行行长黑田东彦在内的多名高官都成为美情报机构的窃听目标；此外，三菱集团及三井集团这两大财团的能源部也遭到窃听。报道称，美国的窃听早在安倍第一次担任首相时就开始。美国《纽约时报》称，此次公开的文件中，有一份标着“最高机密”，美国将其与英国、澳大利亚、加拿大和新西兰这几个情报联盟盟友进行了分享。</p>
	</div>
</section>
<div class="juchou-footer">
    <footer>
            <p>医疗器械（UDI）服务云平台</p>
        </footer>
</div>
