@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>医疗器械（UDI）服务云平台</title>
</head>
    <frameset rows="55,*" cols="*" border="0">
<frame src="/Admin/ManHome/Top" name="topFrame"  scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
  <frameset cols="210,*"  framespacing="0"  border="0" bordercolor="#000000">
    <frame src="/Admin/ManHome/Left" name="leftFrame" scrolling="Auto"  id="leftFrame" title="leftFrame"/> 
    <frame src="/Admin/ManEnterpriseManage/Index" name="mainFrame" id="mainFrame" title="mainFrame" scrolling="yes" />
    </frameset>
 </frameset>
</html>

