<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SaveAddress" connectionString="D:\重要平台发布6\FtpFiles\" />
    <!--<add name="SaveAddress" connectionString="http://192.168.1.47:8012/FtpFiles/" />-->
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="PublicTraceConnect" value="Data Source=.;database=TracePublicData;UID=sa;pwd=123456;"/>
    <add key="WebConnect" value="Data Source=.;database=YiLiaoWeb;UID=sa;pwd=123456;"/>
    <add key="ShowConnect" value="Data Source=.;database=YiLiaoShow;UID=sa;pwd=123456;"/>
    <add key="Code_Connect" value="Data Source=.;database=YiLiao_Code;UID=sa;pwd=123456;"/>

    <add key="CodeConnect" value="Data Source=datasource;database=databasename;UID=username;pwd=password; Connect Timeout=600"/>
  </appSettings>
</configuration>
