@{
    ViewBag.Title = "HomeMany";
    var ewm = ViewBag.ewm;
}

<div class="mainWarp">

    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                @Html.Action("HomeChannelOne", "Public", new { id = item.ID, ewm = ewm });
            }
        }
    }
    
</div>

