@{
    ViewBag.Title = "HomeOnlyCompany";
}
<div class="section-module">
    <div class="module-t">
        <h3 class="alignC">
           【@ViewBag.CompanyName】</h3>
    </div>
    <div class="ind-main-body">
        <p>
            @Html.Raw(Model.Infos)
        </p>
    </div>
</div> 