@{
    ViewBag.Title = "HomeOnly";
}
<div class="mainWarp">
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
        @Html.Action("HomeChannelTwo", "Public", new { id = item.ID });
            }
        }
    }
    </div>

