<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.YiLiaoWebConnectionString"
            connectionString="Data Source=121.28.25.114;Initial Catalog=YiLiaoWeb;Persist Security Info=True;User ID=gl_ny;Password=jsyb123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>