<div class="modal-dialog" id="div1" style="z-index: 2000; width: 650px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="div2">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    激活</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="form-field-1">
                            <span class="alert-danger">*</span>登录名：</label>
                        <div class="col-md-9">
                            <input placeholder="登录名" type="text" class="form-control" data-bind="value:userName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">
                            <span class="alert-danger">*</span>密码：</label>
                        <div class="col-md-9">
                            <input type="password" placeholder="密码" type="text" class="form-control" data-bind="value:pwd" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">
                            <span class="alert-danger">*</span>批次：</label>
                        <div class="col-md-9">
                            <select data-bind="options: batchModelsArray,optionsText: 'BatchName',optionsValue:'ID',optionsCaption: '选择批次',value:selectedBatch">
                            </select>
                            <span class="alert-danger" data-bind="visible:selbatchmodel">请选择批次！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">
                            经销商：</label>
                        <div class="col-md-9">
                           <select data-bind="options: dealerModelsArray,optionsText: 'DealerName',optionsValue:'Dealer_ID',optionsCaption: '选择经销商',value:selectedDealer">
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="DivSCDate" name="DivSCDate" style="display:none">
                        <label class="col-md-3 control-label" for="name">
                            <span class="alert-danger">*</span>生产日期：</label>
                        <div class="col-md-9">
                            <input placeholder="日期" class="form-control date-picker" id="pDate" name="pDate"
                                type="text" data-date-format="yyyy-mm-dd" data-bind="value:pDate" readonly="readonly" />
                            <span class="alert-danger" data-bind="visible:scDate">请选择生产日期！</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-lg btn-success" id="saveData" data-bind="click:Save">
                确定</button>
            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:cancel">
                取消</button>
        </div>
    </div>
</div>
