<div class="page-content">
    <!--        <div class="row alert alert-success">
            <div class="col-sm-12">
                <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('10600'),click: function(data, event) {navigateTo('showcompany',data,event);}">
                    <i class="fa icon-btn icon-btn-company"></i>
                    <br />
                    企业宣传码管理
                </button>
                <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('10700'),click: function(data, event) {navigateTo('showchannel',data,event);}">
                    <i class="fa icon-btn icon-btn-column"></i>
                    <br />
                    栏目宣传管理
                </button>
                <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('10800'),click: function(data, event) {navigateTo('shownews',data,event);}">
                    <i class="fa icon-btn icon-btn-news"></i>
                    <br />
                    新闻宣传管理
                </button>
                <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('11000'),click: function(data, event) {navigateTo('showuser',data,event);}">
                    <i class="fa icon-btn icon-btn-card"></i>
                    <br />
                    名片宣传码管理
                </button>
                <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('13000'),click: function(data, event) {navigateTo('showdept',data,event);}">
                    <i class="fa icon-btn icon-btn-department"></i>
                    <br />
                    部门宣传码管理
                </button>
            </div>
        </div>-->
    <div class="row alert alert-success">
        <div class="col-sm-12">
            <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('25000'),click: function(data, event) {navigateTo('downloadword',data,event);}">
                <i class="fa icon-btn-new newicon-helptext"></i>
                <br />
                下载帮助文档
            </button>
            <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('26000'),click: function(data, event) {navigateTo('downloadapp',data,event);}">
                <i class="fa icon-btn-new newicon-phone"></i>
                <br />
                下载手持客户端
            </button>
            <button class="btn btn-sq-lg btn-gray mar12" data-bind="enable:loginInfo.checkPower('27000'),click: function(data, event) {navigateTo('systemup',data,event);}">
                <i class="fa icon-btn-new newicon-upnotice"></i>
                <br />
                系统升级公告
            </button>
        </div>
    </div>
</div>
