<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 480px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    编辑批次</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12  no-padding">
                    <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">
                            <span class="alert-danger">*</span>产品名称：</label>
                        <div class="col-md-3 no-padding">
                            <select id="ddlMaterialList" data-bind="options: materialModelsArray,optionsText: 'MaterialFullName',optionsValue:'Material_ID',optionsCaption: '选择产品',value:selectedModel">
                            </select>
                            <span class="alert-danger" data-bind="visible:selmaterialmodel">请选择产品名称！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">
                            <span class="alert-danger">*</span>批次号：</label>
                        <div class="col-md-4 no-padding">
                            <input type="text" placeholder="批次号..." class="col-xs-10 col-sm-5" style="width: 150px"
                                data-bind="value:BatchName,validationElement:BatchName,hasfocus:selTitle" />
                            <span data-bind="visible:!selTitle"><span class="alert-danger" style="height: 30px;
                                line-height: 30px;" data-bind="validationMessage:BatchName"></span></span>
                            <!-- <input type="text" class="form-control" data-bind="value: BatchName">
                            <span class="alert-danger">请输入批次号</span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name">
                            <span class="alert-danger">*</span>绑定生产单元：</label>
                        <div class="col-md-3 no-padding">
                            <select id="ddlGreenHouseList" data-bind="options: greenHouseModelsArray,optionsText: 'GreenhousesName',optionsValue:'Greenhouses_ID',optionsCaption: '绑定生产单元',value:selectedGreenhouse">
                            </select>
                            <span class="alert-danger" data-bind="visible:selgreenhousemodel">请绑定生产单元！</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-lg btn-success" id="saveData" data-bind="click:Save">
                确定</button>
            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:calcel">
                取消</button>
        </div>
    </div>
</div>
