<div class="page-content">
    <div class="row">
        <div class="col-md-3 mat10">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="输入相关信息搜索" id="searchName" data-bind="value:name,valueUpdate: 'afterkeydown'">
                <span class="input-group-addon btn-success">
                    <button type="submit" data-bind="click:searchComment">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-9 mat10">
            <div class="form-inline">
                <span class="lbl">筛选：</span>
                <input placeholder="开始时间" class="input-small" readonly="readonly" id="bDate" type="text"
                    data-date-format="yyyy-mm-dd" data-bind="value:bDate" />
                -
                <input placeholder="结束时间" class="input-small" readonly="readonly" id="eDate" type="text"
                    data-date-format="yyyy-mm-dd" data-bind="value:eDate" />
            </div>
        </div>
    </div>
    <div class="row hr pat10">
        <!--        <div class="col-md-12">
            <button class="btn btn-lg btn-success" data-bind="click:addBrand">
                添加品牌</button>
        </div>-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            订单编号
                        </th>
                        <th>
                            产品
                        </th>
                        <th>
                            联系人
                        </th>
                        <th>
                            联系电话
                        </th>
                        <th>
                            等级
                        </th>
                        <th>
                            评论
                        </th>
                        <th>
                            评论时间
                        </th>
                        <th>
                            回复
                        </th>
                        <th>
                            回复时间
                        </th>
                        <th width="100">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:vmComment.ObjList">
                    <tr data-bind="event: { mouseover: $parent.mouseoverFun, mouseout: $parent.mouseoutFun }">
                        <td>
                            <p class="cut width100" data-bind="text:$data.OrderNum,attr:{title:$data.OrderNum}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width100" data-bind="text:$data.MaterialName,attr:{title:$data.MaterialName}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width70" data-bind="text:$data.LinkMan,attr:{title:$data.LinkMan}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width70" data-bind="text:$data.LinkPhone,attr:{title:$data.LinkPhone}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width50" data-bind="text:$data.textLevel,attr:{title:$data.textLevel}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width100" data-bind="text:$data.Content,attr:{title:$data.Content}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width50" data-bind="text:$data.AddTime,attr:{title:$data.AddTime}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width100" data-bind="text:$data.ReContent,attr:{title:$data.ReContent}">
                            </p>
                        </td>
                        <td>
                            <p class="cut width50" data-bind="text:$data.CompanyReTime,attr:{title:$data.CompanyReTime}">
                            </p>
                        </td>
                        <td>
                            <div style="display: none;" class="hidden-sm hidden-xs action-buttons" eleflag="ShowComment">
                                <button class="btn btn-xs btn-success mal10" data-bind="click: function(data, event) {$parent.commentOrder($data.Order_Comment_ID,data,event);}">
                                    回复</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="modal-footer no-margin-top no-t-border">
                <ul class="pagination" id="orderPager" data-bind="commentPager:vmComment.pageSize,totalCounts:vmComment.totalCounts,pageIndex:vmComment.pageIndex">
                </ul>
            </div>
        </div>
    </div>
</div>
