<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 600px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    查看经销商地图</h4>
        </div>
        <div class="modal-body">
            <div class="row" id="div1">
                <div class="padlr15 overflow-hidden" id="map-canvas" style="width: 98%; height: 360px;
                    margin: 0px auto;">
                </div>
            </div>
        </div>
    </div>
</div>
