<div class="page-content">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="ace-icon fa fa-home home-icon"></i><a href="#home" title="返回到首页">首页</a>
                    </li>
                    <li class="active">下载手持客户端</li>
                </ul>
                <span><a href="javascript:void(0);" data-bind="click:goBack" title="返回到上一页"><i class="ace-icon fa fa-angle-double-left">
                </i>返回</a> </span>
            </div>
            <form>
            <input type="hidden" name="HiddenPageType" id="HiddenPageType" value="2">
            <div class="page-content">
                <div class="guide clearfix">
                    <div class="code-updown" style="margin-top: 0;">
                        <div class="code-pic">
                            <img data-bind="attr:{src:vmdownloadapp.url}">
                            <span>（扫描二维码下载手机APP）</span>
                        </div>
                        <p>
                            <a href="/FiesData/AgricultureSystem.apk">下载手机App</a></p>
                        <p>
                            使用客户端采集作业信息、巡检信息完成产品的<br />
                            销售管理，扫描上方二维码即可下载客户端。
                        </p>
                        <a href="/Public/OperaManualApp">如何使用？</a>
                        <!--<a href="/FtpFiles/DownFiles/农产品追溯手机端使用说明.doc">如何使用？</a>-->
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
