<div class="page-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li><i class="ace-icon fa fa-home home-icon"></i><a href="#home" title="返回到首页">首页</a>
            </li>
            <li class="active">下载帮助文档</li>
        </ul>
        <span><a href="javascript:void(0);" data-bind="click:goBack" title="返回到上一页"><i class="ace-icon fa fa-angle-double-left">
        </i>返回</a> </span>
    </div>
    <!--    <div class="row">
        <div class="col-md-12">
            <table>
                    <tr>
                        <td>
                            <a href="/FtpFiles/DownFiles/农产品追溯管理系统_企业操作手册.doc" style="float: right;
                                margin-right: -180px; margin-top: 23px; font-size: 18px;">操作手册下载</a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>-->
    <form>
    <input type="hidden" name="HiddenPageType" id="HiddenPageType" value="1">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="issue-name">
                    <img src="/images/issue-setting.png" alt="" />
                    <a href="/Public/OperaManual" class="txt">操作手册下载</a>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
