<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="fl">
                <button class="btn btn-lg btn-success" data-bind="click:synchMB">
                    同步码标</button>
            </div>
            <div class="col-md-3">
                <!-- <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="输入相关信息搜索" data-bind="value:searchTitle,valueUpdate: 'afterkeydown'">
                    <span class="input-group-addon btn-success">
                        <button type="submit" data-bind="click:searchMaterialSpec">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row mat10">
        <div class="col-md-12">
            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            单位名称
                        </th>
                        <th>
                            码标
                        </th>
                        <th>
                            注册时间
                        </th>
                        <th>
                            开始时间
                        </th>
                        <th>
                            结束时间
                        </th>
                        <th>
                            单位电话
                        </th>
                        <th>
                            注册商名称
                        </th>
                        <th width="120">
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:VMMB.ObjList">
                    <tr data-bind="event: { mouseover: $parent.mouseoverFun, mouseout: $parent.mouseoutFun }">
                        <td>
                           <!-- <span data-bind="text:$data.Value"></span>--><span data-bind="text:$data.unit_name">
                            </span>
                        </td>
                        <td>
                            <span data-bind="text:$data.mb"></span>
                        </td>
                        <td>
                            <span data-bind="text:$data.reg_date"></span>
                        </td>
                        <td>
                            <span data-bind="text:$data.start_date"></span>
                        </td>
                        <td>
                            <span data-bind="text:$data.end_date"></span>
                        </td>
                        <td>
                            <span data-bind="text:$data.unit_phone"></span>
                        </td>
                        <td>
                            <span data-bind="text:$data.agent_name"></span>
                        </td>
                        <td>
                           <!-- <div class="hidden-sm hidden-xs action-buttons" style="display: none;" eleflag="ShowHand">
                                <a class="green" href="#" data-bind="click: function(data, event) {$parent.editMaterialSpec($data.MaterialSpcificationID,data,event);}"
                                    title="编辑"><i class="ace-icon fa fa-pencil bigger-150"></i></a><a class="red" href="#"
                                        data-bind="click: function(data, event) {$parent.delMaterialSpec($data.MaterialSpcificationID,data,event);}"
                                        title="删除"><i class="ace-icon fa fa-trash-o bigger-150"></i></a>
                            </div>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       <!-- <div class="modal-footer no-margin-top no-t-border">
            <ul class="pagination" id="materialSpecPager" data-bind="materialSpecPager:vmMB.pageSize,totalCounts:vmMB.totalCounts,pageIndex:vmMB.pageIndex">
            </ul>
        </div>-->
    </div>
</div>
