<div class="page-content">
    <div class="row">
    <div class="col-md-12">
    <div class="fl">
            <button class="btn btn-lg btn-success" data-bind="click:AddFormula">
                添加配方</button>
        </div>
        <div class="col-md-3">
            <div class="input-group stylish-input-group">
                <input type="text" class="form-control" placeholder="输入产品或配方名称搜索" data-bind="value:searchTitle,valueUpdate: 'afterkeydown'">
                <span class="input-group-addon btn-success">
                    <button type="submit" data-bind="click:SearchFormula">
                        <span class="fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    </div>
    <div class="row mat10">
        <div class="col-md-12">
            <table id="simple-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            产品名称
                        </th>
                        <th>
                            配方名称
                        </th>
                        <th>
                            规格
                        </th>
                        <th>
                            时间
                        </th>
                        <th width="120">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:vmFormula.ObjList">
                    <tr data-bind="event: { mouseover: $parent.mouseoverFun, mouseout: $parent.mouseoutFun }">
                        <td>
                            <p data-bind="text:$data.MaterialName">
                            </p>
                        </td>
                        <td>
                            <p data-bind="text:$data.FormulaName">
                            </p>
                        </td>
                        <td>
                            <p data-bind="text:$data.Spec">
                            </p>
                        </td>
                        <td>
                            <p data-bind="text:$data.AddTime">
                            </p>
                        </td>
                        <td>
                            <div class="hidden-sm hidden-xs action-buttons" style="display: none;" eleflag="ShowHand">
                                <a class="green" href="#" data-bind="click: function(data, event) {$parent.EditFormula(data,event);}"
                                    title="编辑"><i class="ace-icon fa fa-pencil bigger-150"></i></a><a class="red" href="#"
                                        data-bind="click: function(data, event) {$parent.DelFormula($data.FormulaID,data,event);}"
                                        title="删除"><i class="ace-icon fa fa-trash-o bigger-150"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer no-margin-top no-t-border">
            <ul class="pagination" id="formulaPager" data-bind="formulaPager:vmFormula.pageSize,totalCounts:vmFormula.totalCounts,pageIndex:vmFormula.pageIndex">
            </ul>
        </div>
    </div>
</div>
