<div class="part-index clearfix">
    <div class="ncp-content">
        <div class="shenq-report">
            <p class="status">
                恭喜您，您已完成生成码操作！</p>
            <p>
                您现在可以为本次生成的码 <a href="#" data-bind="click:navigateToSetting">配置追溯信息</a>， 也可以以后在
                <a href="#" data-bind="click:navigateTo">码信息管理</a> 功能中配置。
                <!--  <br>
                    也可以现在 <a href="#">下载二维码</a> 。-->
            </p>
            <div class="operate">
                <h4>
                    1.印刷码方式</h4>
                <div class="kb-help-more">
                    印刷机印刷二维码一般都是印刷固定码，就是印刷的条码是固定不变的。只要先在印前处理的时候，应用软件根据条码信息生成二维码，然后进行排版啊，就跟排版普通的图片和文字一样了，然后跟印刷普通的图片一样引述。
                </div>
                <h4>
                    2.热敏打印码方式</h4>
                <div class="kb-help-more">
                    热敏是不需要碳带打的，打的是热敏纸。热转印是要碳带打印的。热敏打印机的工作原理是打印头上安装有半导体加热元件，打印头加热并接触热敏打印纸后就可以打印出需要的图案，其原理与热敏式传真机类似。不过需要注意的是买打印机要注意质量，可以去科力普商城，厂家直供。
                </div>
                <h4>
                    3.喷墨打码方式</h4>
                <div class="kb-help-more">
                    喷码机是运用带电的墨水微粒，由高压电场偏转的原理，在各种物体表面上喷印上图案文字和数码，是集机一体化的高科技产品。产品广泛应用于食品工业、化妆品工业、医药工业、汽车等零件加工行业、电线电缆行业、铝塑管行业、烟酒行业以及其他领域，该机可用于喷印生产日期、批号、条型码以及商标图案、防伪标记和中文字样，是贯彻卫生法和促进包装现代化强有力的设备。
                </div>
                <h4>
                    4.激光打码方式</h4>
                <div class="kb-help-more">
                    激光打标机近年来已被广泛应用，为产品进行加工标记。如今，二维码也使用激光打标机来进行打标。 1、在打标机软件里面输入需要打标的内容 2、“字体”》“条形码字体-30”》“QRCODE”
                    3、“应用” 4、填充好二维码，调节好焦距、位置、大小》“标刻” 根据以上步骤能轻松的就能在金属塑料上打出精细的二维码，用手机也可以读取信息，并且不会脱落。
                </div>
                <!--                <p>
                    更详细介绍 <a href="#">请点这里</a></p>-->
            </div>
        </div>
    </div>
</div>
