<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 1000px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    管理主页>生产单元数据>详细列表</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-8">
                <table class="table tit-table">
                    <tr>
                        <td width="100">
                            <input placeholder="开始时间" class="input-small" id="bbDate" name="bbDate" type="text"
                                data-date-format="yyyy-mm-dd" data-bind="value:bbDate" readonly="readonly" />
                        </td>
                        <td width="20">
                            -
                        </td>
                        <td width="100">
                            <input placeholder="结束时间" class="input-small" id="eeDate" name="eeDate" type="text"
                                data-date-format="yyyy-mm-dd" data-bind="value:eeDate" readonly="readonly" />
                        </td>
                        <td>
                            <button class="btn btn-lg btn-success" type="button" data-bind="click:searchInfo">
                                搜索</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="space-4">
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-hover no-lr-border">
                        <thead>
                            <tr>
                                <th>
                                    采集时间
                                </th>
                                <th>
                                    数据1
                                </th>
                                <th>
                                    数据2
                                </th>
                                <th>
                                    数据3
                                </th>
                                <th>
                                    数据4
                                </th>
                                <th>
                                    数据5
                                </th>
                                <th>
                                    数据6
                                </th>
                                <th>
                                    数据7
                                </th>
                                <th>
                                    数据8
                                </th>
                                <th>
                                    数据9
                                </th>
                                <th>
                                    数据10
                                </th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:ObjList">
                            <tr>
                                <td>
                                    <span data-bind="text:$data.StrcollectTime"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key1()+$data.value1()+$data.unit1()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key2()+$data.value2()+$data.unit2()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key3()+$data.value3()+$data.unit3()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key4()+$data.value4()+$data.unit4()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key5()+$data.value5()+$data.unit5()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key6()+$data.value6()+$data.unit6()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key7()+$data.value7()+$data.unit7()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key8()+$data.value8()+$data.unit8()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key9()+$data.value9()+$data.unit9()"></span>
                                </td>
                                <td>
                                    <span data-bind="text:$data.key10()+$data.value10()+$data.unit10()"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer no-margin-top no-t-border">
            <ul class="pagination" id="prodedataPager" data-bind="prodedataPager:pageSize,totalCounts:totalCounts,pageIndex:pageIndex">
            </ul>
        </div>
    </div>
</div>
