<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="guide clearfix">
                <div class="guide-title">
                    <ul>
                        <li class="visited"><i></i><span>建立种植批次</span> </li>
                        <li class="visited"><i></i><span>采集种植信息</span> </li>
                        <li class="visited"><i></i><span>申请单品产品码</span> </li>
                        <li class="visited"><i></i><span>销售产品</span> </li>
                        <li class="active-last"><i>5</i> <span>我要看效果</span> </li>
                    </ul>
                </div>
                <div class="guide-content">
                    <div class="row">
                        <label class="control-label col-md-2 no-padding">
                        </label>
                        <div class="col-md-5">
                            <div class="showpic">
                                <img src="../../images/guid5.jpg" />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="code-updown">
                                <div class="code-pic">
                                    <img data-bind="attr:{src:vmguide.url}">
                                    <span>扫码后手机查看产品追溯效果</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="guide-content clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-2 no-padding">
                        </label>
                        <div class="col-md-7">
                            <button class="btn btn-lg btn-nygrey" data-bind="click:back">
                                返回</button>
                            <button class="btn btn-lg btn-nyyellow" onclick="window.location.href = '/Home/Index';">
                                进入首页</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
