<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 500px">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    添加产品</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-2 control-label no-padding" for="name">
                            产品品牌：</label>
                        <div class="col-md-9 no-padding">
                            <select id="slBrandList" data-bind="options: materialBrands,optionsText: 'BrandName',optionsValue:'Brand_ID',optionsCaption: '选择产品品牌',value:selectedBrand">
                            </select>
                            <span class="alert-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label no-padding" for="name">
                            <span class="alert-danger">*</span>产品名称：</label>
                        <div class="col-md-9 no-padding">
                            <input type="text" id="txtMaterialName" style="width:170px" data-bind="value: materialName,validationElement:materialName,hasfocus:selMaterialName">
                            <!--<span class="alert-danger" data-bind="visible:selMaterialName"></span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label no-padding" for="name">
                            规格：</label>
                        <div class="col-md-9 no-padding">
                            <input type="text" style="width:170px" data-bind="value: materialSpec,validationElement:materialSpec,hasfocus:selMaterialSpec">
                            <span class="alert-danger-new" style="margin-left: 5px;">
                                例：（50kg/箱）</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-lg btn-success" data-bind="click:AddMaterial">
                确定</button>
            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:close">
                取消</button>
        </div>
    </div>
</div>
