<!--<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 600px">
    <div class="modal-content">
        <div class="modal-header" id="divMessageBoxHeader" style="cursor: move;">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    开通商城协议</h4>
        </div>-->
<div class="main-content">
    <div class="main-content-inner">
        <div class="page-content">
            <div class="modal-body" style="overflow: hidden; max-height: 500px">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
                        <p style="font-size: 16px;">
                            <span>您现在状态为：</span><span data-bind="text:vmGreenhouse.opS"></span><span>,您确定要</span><span
                                data-bind="text:vmGreenhouse.opE"></span><span>吗？</span></p>
                        <div class="form-group">
                            <div class="col-md-12 no-padding">
                                <textarea rows="10" style="width: 100%;">
一、声明与承诺 
（一）在接受本协议或您以本公司允许的其他方式实际使用网站在线商城服务之前，请您仔细阅读本协议的全部内容。如果您不同意本协议的任意内容，或者无法准确理解本公司对条款的解释，请不要进行后续操作，包括但不限于不要接受本协议，不使用本服务。如果您对本协议的条款有疑问，请通过本公司客服渠道进行询问，本公司将向您解释条款内容。 
（二）您同意，如本公司需要对本协议进行变更或修改的，须通过sy.idcode.cn网站公告的方式提前予以公布，公告期限届满后即时生效；若您在本协议内容公告变更生效后继续使用网站在线商城服务的，表示您已充分阅读、理解并接受变更后的协议内容，也将遵循变更后的协议内容使用网站在线商城服务；若您不同意变更后的协议内容，您应在变更生效前停止使用本网站的在线商城服务。 

二、定义及解释 
（一）本网站：除本协议另有规定外，指sy.idcode.cn。 
  
三、网站商城服务
网站商城服务（或称“本服务”）是本网站为您开通的在线商城服务，是受您委托代您收款和付款的资金转移服务，具体服务项目及内容请见本网站网页，包括（但不限于）以下服务：
1、代收服务：代收服务是指本网站为您提供的代为收取相关款项的服务：
A、代收，即本公司代为收取任何人向您支付的各类款项。为免疑义，代收具体是指在符合本公司规定或产品规则的情况下，自您委托本公司代为收取第三方向您支付的款项之时起至根据您的指令将该等款项的全部或部分实际入账到您的银行账户或企业账户之时止的整个过程。系统会在每个月固定时间生成账单，根据您提供的账号以及支付方式为您汇款。账单是根据您实际账单按照1%的费率扣除相关费用后的账单。
2、查询：本公司将对您使用本服务的操作的全部或部分进行记录，不论该操作之目的最终是否实现。您可以登录企业账户查询您企业账户内的交易记录。
3、其他：您实际使用的本公司接受您的委托为您不时提供的其他服务及本公司提供的其他产品或服务。

四、商城服务使用规则
为有效保障您使用本服务时的合法权益，您理解并同意接受以下规则：
（一）一旦您开通商城，本网站就会支持消费者在线购买您上架的商品，我平台会代收消费者通过支付宝在线购买商品的欠款。
（二）消费者在线提交购买商品订单后，您需要根据在后台的“订单管理”里查看订单，并根据订单信息给消费者发货并且提交物流信息。
（三）消费者确认收货后（系统会在您发货后的7天后默认消费者收货），完成整个在线订单过程，月底会给您结算账单。
（四）平台对您所交易的商品不提供任何形式的鉴定、证明的服务。除本协议另有规定外，如您与交易对方发生交易纠纷，您不可撤销地授权由本公司根据本协议及本网站上载明的各项规则进行处理。您为解决纠纷而支出的通讯费、文件复印费、鉴定费等均由您自行承担。因市场因素致使商品涨价跌价而使任何一方得益或者受到损失而产生的纠纷，本公司不予处理。
（五）您理解，基于相关法律法规，对本协议项下的任何服务，本公司均不提供任何担保、垫资。
（六）您不得将本服务用于非本公司许可的其他用途。
（七）交易风险
1、在使用本服务时，若您或您的交易对方未遵从本协议或相关网站说明、交易、支付页面中之操作提示、规则，则本平台有权拒绝为您与交易对方提供相关服务，且本公司不承担损害赔偿责任。
2、因您的过错或过失导致的任何损失由您自行承担，该过错或过失包括但不限于：不按照交易、支付提示操作，未及时进行交易操作，遗忘或泄漏密码、校验码等，密码被他人破解，您使用的计算机或其他硬件、终端等被他人使用、被他人侵入或丢失。
3、如果消费者在未确认收货时，申请退货，您需要在“退货订单”中对退货订单进行处理，处理结果由您自己承担。
（八）服务费用
1、在您使用本服务时，本公司有权向您收取服务费用，费用的产生主要发生在消费者购买商品时支付的钱款、平台给您结算订单为您转账时支付宝平台收取的费用。本公司拥有制订及调整服务费之权利，费率按照1%收取。
2、除非另有说明或约定，您同意本公司有权自您开通商城后直接在结算订单时扣除上述服务费用。

五、企业账户
（一）注册相关
除本协议另有规定或相关产品另有规则外，您须在本网站注册并取得本公司提供给您的企业账户，或在您于其他IDcode网站完成全国茶叶追溯认证数据平台的登录名注册，取得企业账户，并且按照本公司要求提供相关信息完成激活后方可使用本服务。您需使用企业登录名作为企业账户，并且您应当自行为企业账户设置密码。您同意：
1、按照本公司要求准确提供并在取得企业账户后及时更新您正确、最新及完整的身份信息及相关资料。若本公司有合理理由怀疑您提供的身份信息或相关资料错误、不实、过时或不完整的，本公司有权暂停或终止向您提供部分或全部网站服务。本公司对此不承担任何责任，您将承担因此产生的任何直接或间接支出。若因国家法律法规、部门规章或监管机构的要求，本公司需要您补充提供任何身份信息或相关资料时，如您不能及时提供，本公司有权暂停或终止向您提供部分或全部服务。
2、您应当准确提供并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本公司与您进行及时、有效联系。您应完全独自承担因通过这些联系方式无法与您取得联系而导致的您在使用本服务过程中遭受的任何损失或增加任何费用等不利后果。您理解并同意，您有义务保持您提供的联系方式的有效性，如有变更需要更新的，您应按本公司的要求进行操作。
（二）账户安全
您将对使用企业帐户或密码、校验码进行的一切操作及言论负完全的责任，您同意：
1、除相关产品另有规则外，本公司可以通过企业帐户和密码或者本公司认可的其他方式识别您的身份，您应当对该等企业帐户、密码、校验码、身份识别信息等进行妥善保管，对于因企业帐户、密码、校验码、身份识别信息等泄露所致的损失由您自行承担。您保证不向其他任何人泄露您的企业帐户、密码、校验码以及身份信息等，亦不使用其他任何人的企业帐户、密码、校验码、身份识别信息等。本公司亦可能通过本服务应用您使用的其他产品或设备识别您的指示，您应当妥善保管处于您或应当处于您掌控下的这些产品或设备， 对于这些产品或设备因非您本人使用或遗失所致的任何损失，由您自行承担。
2、基于用户使用习惯，我们可能在您使用具体产品时设置不同的账户登录模式及采取不同的措施识别您的身份。
3、您同意，（a）如您发现有他人冒用或盗用您的企业帐户及密码或任何其他未经合法授权之情形，您应立即以有效方式通知本公司，向本公司申请暂停相关网站服务。您理解本公司对您的请求采取行动需要合理期限，在此之前，本公司对已执行的指令及（或）所导致的您的损失不承担任何责任。
4、本公司有权了解您使用本服务的真实交易背景及目的，您应如实提供本公司所需的真实、全面、准确的信息或资料；如果本公司有合理理由怀疑您提供虚假交易信息的，本公司有权暂时或永久限制您所使用本服务的部分或全部功能。
5、您同意，本公司有权按照国家法律或行政法规所赋予权力的有权机关的要求提供您的个人信息或对您的企业帐户进行查询、冻结或扣划。

六、商城使用限制
（一）您在使用本服务时应遵守中华人民共和国相关法律法规及您所属、所居住或开展经营活动或其他业务的国家或地区的法律法规，不得将本服务用于任何非法目的（包括用于禁止或限制交易物品的交易），也不得以任何非法方式使用本服务。
（二）您不得利用本服务从事侵害他人合法权益之行为， 否则本公司有权拒绝提供本服务，且您应承担所有相关法律责任，因此导致本公司或本公司雇员或其他方受损的，您应承担赔偿责任。
上述（一）和（二）适用的情况包括但不限于：
1、侵害他人名誉权、隐私权、商业秘密、商标权、著作权、专利权等合法权益。
2、违反依法定或约定之保密义务。
3、冒用他人名义使用本服务。
4、从事不法交易行为， 如洗钱、恐怖融资、贩卖枪支、毒品、禁药、盗版软件、黄色淫秽物品、其他本公司认为不得使用本服务进行交易的物品等。
5、提供赌博资讯或以任何方式引诱他人参与赌博。
6、非法使用他人银行账户（包括信用卡账户）或无效银行账户（包括信用卡账户）交易。
7、违反《银行卡业务管理办法》使用银行卡， 或利用信用卡套取现金（以下简称套现）。
8、进行与您或交易对方宣称的交易内容不符的交易， 或不真实的交易。
9、从事任何可能含有电脑病毒或是可能侵害本服务系统、资料之行为。
10、其他本公司有正当理由认为不适当之行为。
（三）您理解并同意，本公司不对因下述任一情况导致的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿（无论本公司是否已被告知该等损害赔偿的可能性）：
1、本公司有权基于单方判断，包含但不限于本公司认为您已经违反本协议的明文规定及精神，对您的企业帐户暂停、中断或终止向您提供本服务或其任何部分，并移除您的资料。
2、在发现异常交易或合理怀疑交易有疑义或有违反法律规定或本协议约定之时，为维护用户资金安全和合法权益，本公司有权不经通知先行暂停或终止您名下全部或部分企业帐户的使用（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等措施），同时可能需要您配合提供包括但不限于物流凭证、身份证、银行卡，交易过程中交易双方的聊天记录截图等资料。如您未及时、完整、准确提供上述资料，本公司有权采取包括但不限于如下限制措施：关闭商城服务、限制在线销售商品功能、止付账户内余额或停止提供全部或部分在线支付服务。如涉嫌犯罪，本公司有权移交公安机关处理。
3、您理解并同意，存在如下情形时，本公司有权对您名下企业帐户暂停或终止提供全部或网站功能服务，或对企业帐户内全部或部分余额进行止付，且有权限制您所使用的产品或服务的部分或全部功能（包括但不限于对这些账户名下的款项和在途交易采取取消交易、调账等限制措施），并通过邮件或站内信或者客户端通知等方式通知您，您应及时予以关注：
1）根据本协议的约定；
2）根据法律法规及法律文书的规定；
3）根据有权机关的要求；
4）您使用网站在线支付服务的行为涉嫌违反国家法律法规及行政规定的；
5）本公司基于单方面合理判断认为该账户操作、资金进出等存在异常时；
6）本公司依据自行合理判断认为可能产生风险的；
7）您在参加市场活动时有批量注册企业帐户、刷信用及其他舞弊等违反活动规则、违反诚实信用原则的；
8）他人向您企业帐户错误汇入资金等导致您可能存在不当得利的；
9）您遭到他人投诉，且对方已经提供了一定证据的；
10）您可能错误地将他人企业帐户进行了实名的。
如您申请恢复服务、解除上述止付或限制，您应按本公司要求如实提供相关资料及您的身份证明以及本公司要求的其他信息或文件，以便本公司进行核实，且本公司有权依照自行判断来决定是否同意您的申请。您应充分理解您的申请并不必然被允许。您拒绝如实提供相关资料及身份证明的，或未通过本公司审核的，则您确认本公司有权长期对该等账户停止提供服务且长期限制该等产品或者服务的部分或全部功能。
在本公司认为该等异常已经得到合理解释或有效证据支持或未违反国家相关法律法规及部门规章的情况下，最晚将于止付款项或暂停执行指令之日起的30个日历天内解除止付或限制。但本公司有进一步理由相信该等异常仍可能对您或其他用户或本公司造成损失的情形除外，包括但不限于：
1）收到针对该等异常的投诉：
2）您已经实质性违反了本协议或另行签署的协议，且我们基于保护各方利益的需要必须继续止付款项或暂停执行指令：
3）您虽未违反国家相关法律法规及部门规章规定，但该等使用涉及本公司限制合作的行业类目或商品，包括但不限于通过本公司的产品或服务从事类似金字塔或矩阵型的高额返利业务模式。
5、在本公司合理认为有必要时，本公司无需事先通知即可终止提供本服务，并暂停、关闭或删除您名下全部或部分企业帐户及该账户中所有相关资料及档案，并将您滞留在该账户的全部合法余额退回到您的银行账户。
（四）您理解并同意，如因您进行与您宣称的交易内容不符的交易，或违反您所在网站对商品类目管理的规定，导致本公司、您所在网站或用户遭受损失的，本公司有权向您追偿并有权随时从您名下的企业帐户扣除相应资金以弥补该等损失。且本公司有权对您名下企业帐户暂停或终止向您提供部分或全部网站功能服务，或对您名下企业帐户的余额的部分或全部进行止付。

七、隐私权保护
本公司重视对用户隐私的保护。 

八、系统中断或故障
本公司系统因下列状况无法正常运作，使您无法使用或无法正常使用各项服务时，本公司不承担损害赔偿责任，该状况包括但不限于：
（一）本公司在本网站公告之系统停机维护期间。
（二）电信设备出现故障不能正常进行数据传输的。
（三）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本公司系统障碍不能正常执行业务的。
（四）由于黑客攻击、电信部门技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。

九、责任范围及责任限制
（一）本公司仅对本协议中列明的责任承担范围负责。
（二）您明确因使用本服务从事的交易所产生的任何风险应由您与交易对方承担。
（三）本公司用户信息是由用户本人自行提供的，本公司无法保证该信息之准确、及时和完整，您应对您的判断承担全部责任。
（四）本公司不对交易标的及本服务提供任何形式的保证，包括但不限于以下事项:
1、本服务符合您的需求。
2、本服务不受干扰、及时提供或免于出错。
3、您使用本服务购买或取得之任何产品、服务、资讯或其他资料符合您的期望。
4、您使用本服务从事的交易及时或最终完成。
（五）本服务之合作单位，所提供之服务品质及内容由该合作单位自行负责。
（六）您经由本服务之使用下载或取得任何资料，应由您自行考量且自负风险，因资料之下载而导致您电脑系统之任何损坏或资料流失，您应负完全责任。
（七）您自本公司及本公司工作人员或经由本服务取得之建议和资讯，无论其为书面或口头形式，均不构成本公司对本服务之保证。
（八）在任何情况下，本公司对于与本协议有关或由本协议引起的任何间接的、惩罚性的、特殊的、派生的损失（包括业务损失、收益损失、利润损失、商誉损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除本公司对上述损失的责任。
（九）在任何情况下，本公司对本协议所承担的违约赔偿责任总额不超过向您收取的当次服务费用总额。
（十）您充分知晓并同意本公司可能同时为您及您的（交易）对手方提供本服务，您同意对本公司可能存在的该等行为予以明确豁免任何实际或潜在的利益冲突，并不得以此来主张本公司在提供本服务时存在法律上的瑕疵。
（十一）除本协议另有规定或本公司另行同意外，您对本公司的委托及向本公司发出的指令均不可撤销。

十、知识产权的保护
（一）本公司及关联公司所有系统及本网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、网站架构、网站画面的安排、网页设计，均由本公司或本公司关联公司依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。
（二）非经本公司或本公司关联企业书面同意，任何人不得擅自使用、修改、反向编译、复制、公开传播、改变、散布、发行或公开发表本网站程序或内容。
（三）尊重知识产权是您应尽的义务，如有违反， 您应承担损害赔偿责任。

十二、 法律适用与管辖
本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由被告住所地人民法院管辖。

</textarea>
                                <p>
                                    <label>
                                        <input type="checkbox" name="ChkIsAgree" id="ChkIsAgree">我已阅读并完全同意开通商城协议</label>
                                    <span class="alert-danger" data-bind="visible:vmGreenhouse.selIsCheck">请勾选阅读并同意开通商城协议，如若关闭商城请忽略！</span></p>
                                <!-- <span>我已阅读并完全同意开通商城协议</span>-->
                            </div>
                        </div>
                        <div class="space-4">
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="form-field-1">
                                <span class="alert-danger">*</span>企业支付宝账号：
                            </label>
                            <div class="col-md-10">
                                <input type="text" placeholder="企业支付宝账号..." class="col-md-3 autofocus" data-bind="value:vmGreenhouse.Account,validationElement:vmGreenhouse.Account,hasfocus:vmGreenhouse.selAccount" />
                                <!--<span data-bind="visible:!selAccount"><span class="alert-danger" style="height: 30px;
                                line-height: 30px;" data-bind="validationMessage:Account"></span></span>-->
                            </div>
                        </div>
                        <div class="space-4">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="form-field-1">
                                <span class="alert-danger">*</span>支付宝账号户主：
                            </label>
                            <div class="col-md-10">
                                <input type="text" placeholder="支付宝账号户主..." class="col-md-3 autofocus" data-bind="value:vmGreenhouse.AccountName,validationElement:vmGreenhouse.AccountName,hasfocus:vmGreenhouse.selAccountName" />
                                <!--<span data-bind="visible:!selAccount"><span class="alert-danger" style="height: 30px;
                                line-height: 30px;" data-bind="validationMessage:Account"></span></span>-->
                            </div>
                        </div>
                        <div class="space-4">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2 control-label no-padding-right" for="form-field-1">
                                <span class="alert-danger">*</span>下单通知手机：
                            </label>
                            <div class="col-md-10">
                                <input type="text" placeholder="下单通知手机..." maxlength="20" class="col-md-3 autofocus"
                                    data-bind="value:vmGreenhouse.LinkPhone" />
                            </div>
                        </div>
                        <div class="space-4">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="overflow: hidden; text-align: center; margin-top: 30px;">
                <button type="button" class="btn  btn-lg btn-success" data-bind="click:vmGreenhouse.Register">
                    确定</button>
                <!--   <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:close">
                    取消</button>-->
            </div>
        </div>
    </div>
</div>
<!--    </div>
</div>-->
