<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 800px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    编辑原材料</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">
                            <span class="alert-danger">*</span>原材料名称：</label>
                        <div class="col-md-10">
                            <input type="text" placeholder="原材料名称..." class="form-control" data-bind="value:OriginName,validationElement:OriginName,hasfocus:selTitle" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">
                            原材料描述：</label>
                        <div class="col-md-10">
                            <textarea id="txtInfos" name="txtInfos" cols="100" rows="8" style="width: 100%; height: 400px;
                                visibility: hidden;"></textarea>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="row mat10">
                <h4 style="padding-left:37px" class="tit-modal">
                    <span class="alert-danger-new-red">*</span>原材料图片<span class="alert-danger-new">支持格式.bmp|.jpg|.jpeg|.png|.gif,单张大小限制为5MB。</span><span
                        class="alert-danger" data-bind="visible:originImgInfo">请上传原料图片！</span></h4>
                <div style="padding-left:37px" class="padlr15">
                    <div class="pic-item  clearfix">
                        <ul>
                            <!-- ko foreach:files -->
                            <li>
                                <div class="thumbnail">
                                    <img data-bind="attr:{src:$data.fileUrls}">
                                </div>
                                <a class="icon-img-remove" href="javascript:void(0)" title="删除图片" data-bind="event: { click: function( data, event) {$root.delImage(data, event);}}">
                                    <i class="hide_clip">移除</i></a> </li>
                            <!-- /ko -->
                            <li>
                                <div class="thumbnail">
                                    <a id="image_upload"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-lg btn-success" id="saveData" data-bind="click:Register">
                确定</button>
            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:cancel">
                取消</button>
        </div>
    </div>
</div>
