


 <div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 360px">
    <div class="modal-content">
        <div class="modal-header" id="divMessageBoxHeader" style="cursor: move;">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    查看码信息</h4>
        </div>
        <div class="modal-body">
 <iframe id="redPacketFrame" frameborder="0" style=" width:310px; height:350px; border:0px;" scrolling="no">
 </iframe>
        </div>
    </div>
</div>