<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 480px;">
    <div class="modal-content">
        <div class="modal-header" style="cursor: move;" id="divMessageBoxHeader">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    备注信息</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
                    <div class="form-group">
                        <!--<div class="col-md-10" style=" color:#000; text-align:center;">-->
                        <label class="col-md-4 control-label" for="name">
                            产品：</label>
                        <div class="col-md-6 no-padding" style="line-height: 34px;">
                            <span data-bind="text:MaterialName"></span>，批次号为：<span data-bind="text:BatchName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name" id="lable1">
                            码数量：</label>
                        <div class="col-md-4 no-padding" style="line-height: 34px;">
                            <span data-bind="text:CodeCount"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="name" id="lable2">
                            备注：</label>
                        <div class="col-md-4 no-padding">
                            <textarea  maxlength="500" id="txtdescription" cols="100" rows="5" style="width: 230px; height:60px" data-bind="value:Memo"></textarea>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn  btn-lg btn-success" data-bind="click:AddSetting">
                确定</button>
            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:cancel">
                取消</button>
        </div>
    </div>
</div>
