<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 1000px">
    <div class="modal-content">
        <div class="modal-header" id="divMessageBoxHeader" style="cursor: move;">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    添加部门宣传码</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" onkeydown="if(event.keyCode==13)return false;">
                    <div class="form-group">
                        <label class="col-md-2 control-label no-padding-right" for="form-field-1">
                            <span class="alert-danger">*</span>部门名称：
                        </label>
                        <div class="col-md-9">
                            <input type="text" placeholder="部门名称..." class="col-xs-10 col-sm-5" data-bind="value:name,validationElement:name,hasfocus:selTitle"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label no-padding-right" for="form-field-1">
                            部门简介：
                        </label>
                        <div class="col-md-9">
                            <textarea id="txtInfos" name="txtInfos" cols="100" rows="8" style="width: 100%; height: 400px;
                                visibility: hidden;"></textarea>
                        </div>
                    </div>
                    <div class="space-4">
                    </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                            <button type="button" class="btn  btn-lg btn-success" data-bind="click:Save">
                                保存</button>
                            <button type="button" class="btn  btn-lg btn-cancel" data-bind="click:close">
                                取消</button>
        </div>
    </div>
</div>
