<div class="modal-dialog" id="divMessageBox" style="z-index: 2000; width: 600px">
    <div class="modal-content">
        <div class="modal-header" id="divMessageBoxHeader" style="cursor: move;">
            <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true"
                data-bind="click:close">
                ×</button><h4 class="modal-oldpwd">
                    查看码信息</h4>
        </div>
        <div class="modal-body">
         <table width="100%" class="table_new align-center">
                <tbody>
                    <tr>
                        <td>
                            扫一扫，看效果
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img data-bind="attr:{src:path}" width="300px" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a style="color: #09c481;" data-bind="attr:{href:href}">在线下载码图</a>
                        </td>
                    </tr>
                </tbody>
            </table>
       <!-- <div class="row">
        <div class="col-md-3 ">
            <div class="thumbnail">
                 <img data-bind="attr:{src:path}" width="300px" />
            </div>
        </div>
            <div class="col-md-9 form-horizontal">
                    <div class="form-group">
                        <span class="col-md-2 no-padding">码号：</span> 
                        <span class="col-md-4 no-padding" id="ewm" data-bind="text:ewm"></span>
                    </div>    
                    <div class="form-group">        
                            <span class="col-md-2 no-padding">解析地址：</span>
                            <span class="col-md-5 no-padding"><a style="color: blue;" data-bind="attr:{href:href}">在线下载码图</a></span>
                            
                    </div>  
                    <div class="form-group"> 
                        <span class="col-md-2 no-padding"></span>
                        <span class="col-md-10 no-padding" data-bind="text:idcodeUrl"></span>
                    </div> 
             </div>
        
        </div>-->
        </div>
    </div>
</div> 