@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<title>升级公告</title>
    <link rel="shortcut icon" href="../../images/ncp.ico">
<link href="../../newmenu/css/common.css" rel="stylesheet" type="text/css" />
<link href="../../newmenu/css/helpstyle.css" rel="stylesheet" type="text/css" />	
</head>
	<body>
		<div class="header-wrapper">
			<div class="header width1100 clearfix">
				<div class="logo fl">
					<a href="/Home/Index"><img src="/newmenu/images/bg_logo.png" /></a>
				</div>
			</div>
		</div>
		<div class="width1100 w-container clearfix">	
        	<div class="kb-help-main" style="width: 100%;">
        <div class="kb-help-content">
            <h2>中国农产品追溯公告服务平台v2.5版本升级公告</h2>
            <div class="notice-con">
            <p>尊敬的客户，您好：</p>
               <p> 医疗器械（UDI）服务云平台（I农）v2.5版本上线。本版本更新了生成码追溯码的流程，您可以对追溯码信息进行管理，
               通过分批设置追溯信息，可以让您在使用追溯码时更灵活。版本更新内容如下：
               	</p>
               	<p> ①平台采用了全新操作风格的菜单项，按键功能更加简明易懂。

<p>②启用全新的平台首页，使平台功能和操作数据更加明显。</p>

<p>③信息提示系统的内容进行了优化。</p>

<p>④新增平台小秘书功能，现在用户获得的帮助渠道更丰富了。</p>

<p>⑤新增追溯管理功能模块，对“生成码”、“配置追溯信息”等功能进行了统一整理和优化。</p>

<p>⑥修正并优化了一些系统提示项。</p>

<p>⑦其它项也得到了修正。</p>

               	</p>
                <p>特此公告。</p>
                <p style="margin-left:500px">河北广联信息技术有限公司  2017-02-18</p>
            </div>
        </div>
    </div>
		</div>
	</body>
</html>
