@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">*@
          <a href="/Login/DataDown">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<div class="container">
    <div class="about row">
        @*<h1 style="margin-top: 0;"><img class="img-responsive" src="/IndexStyle/Medical/images/about.png" alt=""></h1>
        <p>医疗器械追溯公共服务平台在统一二维码标识注册管理中心（UTC)、中关村工信二维码技术研究院（ZIIOT）指导下，由北京四聪科技发展有限公司、河北广联信息技术有限公司和佛山市云数智能科技有限公司联合研发而成。</p>
        <p>平台面向医疗器械生产企业、经营企业、使用企业（包括医疗机构）企业提供UDI产品全生命周期追溯服务、防伪服务 ，提供丰富的互动营销和品牌推广服务，帮助企业强化产品品牌，扩展渠道，促进销售。</p>
        <p>平台面向政府提供专业咨询、协助制定UDI产品追溯标准和规范、共建产品溯源示范区并总结经验复制推广，帮助政府建立省级UDI数据平台，并创新监管服务机制，不断提高科学监管服务水平与监管服务效能，提升产品质量安全与公共安全管理水平。</p>
        <p>平台面向消费者，提供UDI产品信息溯源服务，让消费更放心更便捷。</p>*@
         <h1>北京四聪科技发展有限公司</h1>
        <p>北京四聪科技发展有限公司成立于2004年，目前我们拥有一支具有较强创新能力的研发团队，设有专门的研发机构。</p>
        <p>公司成立以来始终致力于医疗器械经销存管理系统(GSP)等医疗器械信息化系统研发建设，目前已有医疗器械经销存管理系统、医疗器械（UDI）服务客户端、医疗器械采集关联系统、医疗器械追溯服务平台等。</p>
        <p>目前公司所有系统都与国药监的医疗器械唯一标识数据库打通，可以便捷实现DI的申报、PI的批量生成，DI的解析等功能。</p>
        
@*        <h1>统一二维码标识注册管理中心介绍</h1>
        <p>统一二维码标识注册管理中心中国运营中心（中文简称中国二维码注册认证中心，英文简称UTC China）是中国二维码行业领域的第三方公共服务机构，承担全球二维码代码发行运营服务机构UTC Global的中国区域服务机构职能，负责全球二维码代码“MA”在中国区域内的注册发行、运营服务、标准制订、授权评定等方面工作。UTC China地址设在北京，在各省市下设注册服务中心。</p>
        <p>UTC China主要工作：</p>
        <p class="sub">(一) 代码注册发行。基于UTC Global体系建设中国二维码标识管理公共服务平台（又称中国二维码注册认证公共服务平台），为社会提供二维码代码注册发行、解析等代码服务。</p>
        <p class="sub">(二) 标准制订。研究提出中国二维码标准体系，并依据该标准体系开展二维码标准研究、制修订、宣贯及相关服务工作。</p>
        <p class="sub">(三) 评定服务。建立二维码评定体系，开展二维码身份标识、信息安全、应用管理等评定服务。</p>
        <p class="sub">(四) 服务体系建设。在各省市设立二维码代码发行服务机构，建设二维码产业服务及应用推广体系。</p>
        <p class="sub">(五) 产业生态建设。开展二维码产业服务机构评定和产品征集，开发二维码保险等新产品，建立二维码产业基地，设立二维码产业基金，完善产业生态体系。</p>
        <p class="sub">(六) 咨询服务。开展对国家和政府的政策研究支持，为政府、企业、用户、研究机构等提供二维码产业的规划、对接、咨询和培训等服务。</p>
        <p>UTC China主导搭建的中国二维码标识管理公共服务平台和产业服务体系是中国二维码产业促进工程的核心组成部分，是中国二维码产业规范健康发展的枢纽，是中国二维码产业生态体系的基础支撑载体，对支撑二维码与实体经济深度融合，促进产业转型升级和数字经济发展，推动经济社会高质量发展，服务“一带一路”等国家战略实施发挥着重要作用。</p>
*@
       

        @*<h2>研发实力</h2>
        <p>河北广联信息技术有限公司是河北省物联网技术研究中心和承担了河北省二维码工程师实验室，是国内在二维码领域应用研发、重要产品追溯研发最具规模的研发中心之一，拥有二维码和追溯领域专业、强大的100多人的技术研发团队，团队成员大部分来自于微软、华为、阿里、腾讯、百度、拥友等国内外大型科技公司，拥友扎实专业知识和技术沉淀。研发团队学历上形成了从本科、硕士、博士形成金字塔结构，年龄上从20到50岁的老中小的合理技术人才结构。</p>*@

        @*<h2>院士工作站</h2>
        <div>
            <div>
                <p>经中共河北省委组织部、河北省科学技术厅、河北省科学技术协会（冀科社人函［2014］9号文）批准，在省工信厅、新华区委、区政府的大力支持下，我们成立了河北广联信息技术有限公司“二维码院士工作站。通过二维码院士工作站的建立，进一步促进院企合作，为加强河北省企业与院士之间的联谊，增强企业自主创新和市场竞争力提供了有力支撑。</p>
                <p>河北广联信息技术有限公司作为国家物联网建设的技术支撑单位，牢固树立“以企业创新为导向，以产学研合作项目为纽带，以企业研发机构为依托，以促进科技成果产业化为目标”的宗旨，积极与院士沟通洽谈，目前已经同倪光南院士和孙玉院士签署了战略协议，建立了长期稳定的合作基础，明确了科技研发目标和成果转化任务。为配合院士工作站工作的开展，我们拟申请成立河北省二维码博士后流动工作站。</p>
            </div>
            <div style="text-align: center;margin:20px 0;"><img src="/IndexStyle/Medical/images/about-pic02.jpg" alt=""></div>
        </div>
        <div><img src="/IndexStyle/Medical/images/about-pic03.jpg" alt=""></div>

        <h1>佛山云数智能科技有限公司</h1>
        <p>佛山云数智能科技有限公司是一家专注于工业智能自动化设备的研发及生产制造商与二维码溯源、条码识别等系统的软硬件集成商。集研发，生产，销售和服务于一体公司，为医药，食品，文具，日化，烟草，医疗器械等行业提供工业标识信息化服务、智能化包装生产线的整体解决方案和定制个性化服务。</p>
        <p>“专注自动化智能制造，致力于改善生产自动化，立足中国服务全球”企业愿景，秉承着 “技术创新，质量为先，信誉为重，服务为诚 ”的理念，为客户提供最好的产品和服务，成为受人尊敬和具有影响力的企业。</p>
        <p>公司拥有多项专利技术产品，致力于客户提高生产效率，降低生产成本。我司为国内婴幼儿配方乳粉行业领头企业蒙牛-雅士利集团提供的溯源系统获得工信部好评，在保护产品好品质的同时也提供了产品的认证。为宝洁，威猛先生，3M，英吉利，Schick，sandisk等大型国内外企业保持长期合作。为国内大型药品企业提供的药品电子监管码，为国内各大型啤酒厂用二维码追溯到每一瓶啤酒生产信息。为可口可乐公司提供的包装后段自动贴标机，降低了人工贴标的错误，实现了后段标识的自动化。2015年至今为国内动物保健品公司提供过百条二维码赋码采集生产线服务，系统软硬件集成方案受到广大动保行业客户的选择，参与国家农业部二维码平台的建设与服务。</p>*@
    </div>
</div>
