@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="container-fluid">
    <div class="banner">
        <img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">
    </div>
</div>
<div class="container UDI">
    <div class="logo_introduction accessory row">
        <h1><img class="img-responsive" src="/IndexStyle/Medical/images/accessory1.png" alt=""></h1>
        <p>第一条  为规范医疗器械唯一标识系统建设，加强医疗器械全生命周期管理，根据《医疗器械监督管理条例》，制定本规则。</p>
        <p>第二条  在中华人民共和国境内销售、使用的医疗器械，其唯一标识系统应当符合本规则。</p>
        <p>第三条  本规则所称医疗器械唯一标识系统，由医疗器械唯一标识、唯一标识数据载体和唯一标识数据库组成。</p>
        <p class="sub">● 医疗器械唯一标识，是指在医疗器械产品或者包装上附载的，由数字、字母或者符号组成的代码，用于对医疗器械进行唯一性识别。</p>
        <p class="sub">● 医疗器械唯一标识数据载体，是指存储或者传输医疗器械唯一标识的数据媒介。</p>
        <p class="sub">● 医疗器械唯一标识数据库，是指储存医疗器械唯一标识的产品标识与关联信息的数据库。</p>
        <p>第四条  医疗器械唯一标识系统建设应当积极借鉴国际标准，遵循政府引导、企业落实、统筹推进、分步实施的原则。</p>
        <p>第五条  国家药品监督管理局负责建立医疗器械唯一标识系统制度，制定医疗器械唯一标识系统建设规划，推动各方积极应用医疗器械唯一标识，促进医疗器械全生命周期管理。省、自治区、直辖市药品监督管理部门负责指导并监督本行政区域内注册人/备案人开展医疗器械唯一标识系统建设相关工作。</p>
        <p>第六条  注册人/备案人负责按照本规则创建和维护医疗器械唯一标识，在产品或者包装上赋予医疗器械唯一标识数据载体，上传相关数据，利用医疗器械唯一标识加强产品全过程管理。鼓励医疗器械生产经营企业和使用单位积极应用医疗器械唯一标识进行相关管理。</p>
        <p>第七条  医疗器械唯一标识包括产品标识和生产标识。产品标识为识别注册人/备案人、医疗器械型号规格和包装的唯一代码；生产标识由医疗器械生产过程相关信息的代码组成，根据监管和实际应用需求，可包含医疗器械序列号、生产批号、生产日期、失效日期等。产品发生可能影响医疗器械识别、追溯的变更或者监管要求变化时，应当创建新的产品标识。医疗器械停止销售、使用的，其产品标识不得用于其他医疗器械；重新销售、使用时，可使用原产品标识。</p>
        <p>第八条  医疗器械唯一标识应当符合唯一性、稳定性和可扩展性的要求。</p>
        <p class="sub">● 唯一性，是指医疗器械唯一标识应当与医疗器械识别要求相一致。</p>
        <p class="sub">● 稳定性，是指医疗器械唯一标识应当与产品基本特征相关，产品的基本特征未变化的，产品标识应当保持不变。</p>
        <p class="sub">● 可扩展性，是指医疗器械唯一标识应当与监管要求和实际应用不断发展相适应。</p>
        <p>第九条  注册人/备案人应当按照医疗器械唯一标识的编制标准创建、维护医疗器械唯一标识。医疗器械唯一标识编制标准应当符合国家药品监督管理局以及符合本规则要求的发码机构制定的相关标准。</p>
        <p>第十条  发码机构应当为中国境内的法人机构，具备完善的管理制度和运行体系，确保按照其标准创建的医疗器械唯一标识的唯一性，并符合国家数据安全有关要求。发码机构应当向注册人/备案人提供执行其标准的流程并指导实施，应当将其编码标准上传至医疗器械唯一标识数据库并动态维护，每年1月31日前向国家药品监督管理局提交按照其标准创建的唯一标识上一年度的报告。国家鼓励发码机构采用相关国际标准建立唯一标识运行体系。</p>
        <p>第十一条  医疗器械唯一标识数据载体应当满足自动识别和数据采集技术以及人工识读的要求。如空间有限或者使用受限，应当优先采用符合自动识别和数据采集技术的载体形式。自动识别和数据采集技术包括一维码、二维码或者射频标签等形式，鼓励采用先进的自动识别和数据采集技术。采用一维码时，可将产品标识和生产标识串联，也可多行并联；采用射频标签时，应当同时具备一维码或者二维码。</p>
        <p>第十二条  注册人/备案人应当选择与其创建的医疗器械唯一标识相适应的数据载体标准，对以其名义上市的医疗器械最小销售单元和更高级别的包装或者医疗器械产品上赋予唯一标识数据载体，并确保在医疗器械经营使用期间唯一标识数据载体牢固、清晰、可读。</p>
        <p>第十三条  国家药品监督管理局制定医疗器械唯一标识数据相关标准及规范，组织建立医疗器械唯一标识数据库，供公众查询。</p>
        <p>第十四条  注册人/备案人应当按照相关标准或者规范要求上传、维护和更新唯一标识数据库中的相关数据，并对数据的真实性、准确性、完整性负责。</p>
        <p>第十五条  注册人/备案人应当在申请医疗器械注册、注册变更或者办理备案时，在注册/备案管理系统中提交其产品标识。注册人/备案人应当在产品上市销售前，将产品标识和相关数据上传至医疗器械唯一标识数据库。</p>
        <p>第十六条  药品监督管理部门可根据监管需求调用和管理相关数据。鼓励各相关方采用先进信息化手段、应用医疗器械唯一标识，对医疗器械在生产、经营、使用等环节进行管理。</p>
        <p>第十七条  本规则下列用语的含义：</p>
        <p class="sub">● 自动识别和数据采集，是指不通过键盘直接将数据输入计算机系统或者其他微处理器控制的设备的技术。</p>
    </div>
</div>