@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">*@
          <a href="/Login/DataDown">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<div class="container">
    <div class="logo_introduction row">
        <div class="col-md-3">
            <ul class="udi-lt">
                <li class="active">MA码介绍</li>
                <li>UDI行业规范</li>
                <li>UDI标识介绍</li>
                <li>打码客户端下载</li>
            </ul>
        </div>
        <div class="col-md-9">
            <ul class="udi-rt">
                <!-- MA码介绍 -->
                <li>
                    <div class="conFixed">
                        <section class="generalize">
                            <h2 class="tit">中关村工信二维码技术研究院ZIIOT</h2>
                            <div class="layui-clear con">
                                <img src="/IndexStyle/Medical/images/ma_1.jpg" style="width: 300px;">
                                <p>
                                    中关村工信二维码技术研究院（ZIIOT），是国际标准化组织（ISO）、 欧洲标准委员会（CEN）、国际自动识别与移动技术协会（AIM）三大国
                                    际组织共同认可的全球代码发行机构，发行代码（IAC）为“MA”，并负 责运营维护《ISO/IEC 15459 信息技术 自动识别与采集技术 唯一标识》 系列国际标准IDcode编码体系，向全球发行代码。
                    
                                </p>
                                <p>统一二维码标识注册管理中心（UTC Global），是为了履行代码发行机 构的职责、更好的服务全球，ZIIOT主导成立了的向全球统一提供二维码
                                    代码发行和注册服务，负责全球二维码代码发行运营服务、授权评定体系 建立等工作，并负责在全球设立UTC国家成员服务机构。</p>
                            </div>
                        </section>
                    
                        <div style="padding: 0 30px;margin-top: 29px;">
                            <a href="http://www.gov.cn/xinwen/2018-08/21/content_5315451.htm">
                                <img src="/IndexStyle/Medical/images/ma_2.jpg" class="fullImg">
                            </a>
                            <div style="text-align: center;">
                                <video width="90%" style="margin-top: 20px;" height="20%" src="/IndexStyle/Medical/video/e518a8ee0d234b89c5ea0a4f3a4124c9.mp4"
                                    type="video/mp4" controls="">
                                </video>
                                <video style="margin-top: 20px;" width="90%" height="20%" src="/IndexStyle/Medical/video/a3e98e221b0c38dc2001be10fb508c0d.mp4"
                                    type="video/mp4" controls="">
                                </video>
                                <video width="90%" style="margin-top: 20px;" height="20%" src="/IndexStyle/Medical/video/99a8435af41863e55cd6cb6e1b2fb357.mp4"
                                    type="video/mp4" controls="">
                                </video>
                            </div>
                        </div>
                        <div class="ruleBox">
                    
                        </div>
                    
                        <div class="generalize" style="margin-top: 50px;">
                            <p class="tit">MA二维码编码规则</p>
                            <img src="/IndexStyle/Medical/images/ma_3.jpg" class="fullImg" style="margin-top: 53px;">
                            <div class="illustrateBox">
                                <!--批次号数据单元 由分隔符“.L”以及医疗器械的批次号数据字段组成。批次号数据字段为字母数字字符，长度可变。 序列号数据单元 由-->
                                <p class="tit"> 批次号数据单元</p>
                                <p class="con">由分隔符“.L”以及医疗器械的批次号数据字段组成。批次号数据字段为字母数字字符，长度可变。 序列号数据单元</p>
                                <p class="con">由分隔符“.S”以及医疗器械的序列号数据字段组成。序列号数据字段为字母数字字符，长度可变。 生产日期数据单元</p>
                                <p class="con">由分隔符“.M”以及医疗器械的生产日期数据字段组成。生产日期数据字段为6位或8位长度固定的数 字，由年（4位或取后2位）、月（2位）和日（2位）按顺序组成。</p>
                                 <p class="con">由分隔符“.D”以及医疗器械的灭菌批号数据字段组成。灭菌批号数据字段为字母数字字符，长度可变。 灭菌批号数据单元</p>
                                <p class="tit">有效期数据单元</p>
                                <p class="con">
                                    由分隔符“.V”以及医疗器械的有效期数据字段组成。有效期数据字段为6位或8位长度固定的数字， 由年（4位或取后2位）、月（2位）和日（2位）按顺序组成。
                                </p>
                                <p class="tit"> 失效期数据单元 </p>
                                <p class="con">由分隔符“.E”以及医疗器械的有效期数据字段组成。失效期数据字段为6位或8位长度固定的数字， 由年（4位或取后2位）、月（2位）和日（2位）按顺序组成。 </p>
                    
                            </div>
                        </div>
                    
                    </div>
                </li>
                <!-- UDI行业规范 -->
                <li>
                    <div class="conFixed">
                        <div class="nr">
                            <div class="youceneirong">
                                <div class="youceneirongbt">
                                    <div class="btkj"></div>
                                    <span class="bttxt">UDI 行业规范</span>
                                    <div class="qingfudong"></div>
                                </div>
                                <div class="xialakuang">
                    
                                    <div class="biaoge">
                                        <table  border="0" cellspacing="0" cellpadding="0" width="100%" class="ddjl">
                                            <tbody>
                                                <tr >
                                                    <td  style="width: 8%; padding-left: 15px; font-size: 16px;">序号</td>
                                                    <td  style="width: 22%; font-size: 16px;">标准号</td>
                                                    <td  style="width: 39%; font-size: 16px;">标准名称</td>
                                                    <!-- <td  style="width: 19%; opacity: 0; font-size: 16px;">标准名称</td> -->
                                                    <td  style="width: 17%; font-size: 16px;">发布日期</td>
                                                    <td  style="width: 15%; font-size: 16px;">实施日期</td>
                                                </tr>
                                                <tr  class="xiaoguo" onclick=" window.location.href='article1.html'">
                                                    <td  style="padding-left: 15px;">1</td>
                                                    <td  title="NMPAB/T 1003-2019">NMPAB/T 1003-2019</td>
                                                    <td  title="《药品追溯系统基本技术要求》">《药品追溯系统基本技术要求》</td>
                                                    <!-- <td  title="《药品追溯系统基本技术要求》" style="opacity: 0;">1</td> -->
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                </tr>
                                                <tr  class="xiaoguo" onclick=" window.location.href='article2.html'">
                                                    <td  style="padding-left: 15px;">2</td>
                                                    <td  title="NMP AB/T XXXX-2109">NMP AB/T XXXX-2109</td>
                                                    <td  title="《疫苗追溯数据交换基本技术要求》">《疫苗追溯数据交换基本技术要求》</td>
                                                    <!-- <td  title="《疫苗追溯数据交换基本技术要求》" style="opacity: 0;">1</td> -->
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                </tr>
                                                <tr  class="xiaoguo" onclick=" window.location.href='article3.html'">
                                                    <td  style="padding-left: 15px;">3</td>
                                                    <td  title="NMP AB/T 1004-2019">NMP AB/T 1004-2019</td>
                                                    <td  title="《疫苗追溯基本数据集》">《疫苗追溯基本数据集》</td>
                                                    <!-- <td  title="《疫苗追溯基本数据集》" style="opacity: 0;">1</td> -->
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                    <td  title="2019-08-26" class="time">2019-08-26</td>
                                                </tr>
                                                <tr  class="xiaoguo" onclick=" window.location.href='article4.html'">
                                                    <td  style="padding-left: 15px;">4</td>
                                                    <td  title="NMPAB/T 1001—2019">NMPAB/T 1001—2019</td>
                                                    <td  title="药品信息化追溯体系建设导则">药品信息化追溯体系建设导则</td>
                                                    <!-- <td  title="药品信息化追溯体系建设导则" style="opacity: 0;">1</td> -->
                                                    <td  title="2019-04-19" class="time">2019-04-19</td>
                                                    <td  title="2019-04-19" class="time">2019-04-19</td>
                                                </tr>
                                                <tr  class="xiaoguo" onclick=" window.location.href='article5.html'">
                                                    <td  style="padding-left: 15px;">5</td>
                                                    <td  title="NMPAB/T 1002—2019">NMPAB/T 1002—2019</td>
                                                    <td  title="药品追溯码编码要求">药品追溯码编码要求</td>
                                                    <!-- <td  title="药品追溯码编码要求" style="opacity: 0;">1</td> -->
                                                    <td  title="2019-04-19" class="time">2019-04-19</td>
                                                    <td  title="2019-04-19" class="time">2019-04-19</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="qingfudong"></div>
                                </div>
                            </div>
                            <div class="qingfudong"></div>
                        </div>
                    </div>
                </li>
                <!-- UDI标识介绍 -->
                <li class="introduce">
                    <h1><img class="img-responsive" src="/IndexStyle/Medical/images/UDI.png" alt=""></h1>
                    <p>医疗器械唯一标识（Unique DeviceIdentification，简称UDI）是医疗器械产品的电子身份证，唯一标识数据载体是储存或者传输医疗器械唯一标识的媒介，唯一标识数据库是储存医疗器械唯一标识的产品标识与关联信息的数据库，三者共同组成医疗器械唯一标识系统。通过建立医疗器械唯一标识系统，有利于运用信息化手段实现对医疗器械在生产、经营和使用各环节的快速、准确识别，有利于实现产品监管数据的共享和整合，有利于创新监管模式，提升监管效能，有利于加强医疗器械全生命周期管理，实现政府监管与社会治理相结合，形成社会共治的局面，进一步提升公众用械安全有效的保障水平。
                    </p>
                    <p>《规则》明确规定唯一标识应与产品基本特征相关，必须符合唯一性、稳定性和可扩展性的原则。为更好地落实发码机构相关职责要求，《规则》规定发码机构应当为中国境内的法人机构，并要求发码机构应当向注册人/备案人提供执行其标准的流程并指导实施，将编码标准上传至医疗器械唯一标识数据库并动态维护，每年1月31日前向国家药监局提交按照其标准创建的唯一标识上一年度的报告。《规则》规定国家药监局负责组织建立医疗器械唯一标识数据库，供公众查询，数据的真实性、准确性和完整性对于医疗器械的正确识别至关重要，《规则》强调了医疗器械注册人/备案人应当对数据的真实性和准确性负责。
                    </p>
                    <p>医疗器械唯一标识的价值在于应用，各环节的有效应用是形成监管大数据的基础，是实施互联网+监管、智慧监管的重要途径和手段，因此《规则》鼓励各相关方积极在医疗器械生产、经营和使用环节的管理中应用医疗器械唯一标识。
                    </p>
                    <p>《规则》的发布实施，将进一步规范医疗器械唯一标识系统建设，加强医疗器械全生命周期管理，提高医疗器械识别的准确性和一致性，提升医疗器械管理水平和效能，有力保障公众用械安全有效。
                    </p>
                    <p><a href="/Login/Accessory" target="_blank">附件1：《医疗器械唯一标识系统规则》</a></p>
                    <p><a href="/IndexStyle/Medical/images/pdf.pdf" target="_blank">附件2：《ZIIOT医疗器械唯一标识二维码编码格式》</a></p>
                </li>
                <!-- 打标客户端下载 -->
                <li class="download">
                    <h1><img class="img-responsive" src="/IndexStyle/Medical/images/udi_img.png" alt=""></h1>

                    <ul>
                        <li>
                            UDI打码客户端.exe
                            <a href="/IndexStyle/Medical/downfiles/UDI打码客户端.exe"><img src="/IndexStyle/Medical/images/udi_download.jpg" width="17" height="17" alt=""> 下载</a>
                            <span><img src="/IndexStyle/Medical/images/udi_doc.jpg" width="17" height="17" alt=""> 7.21 MB</span>
                        </li>
                        <li>
                            医疗器械打码客户端操作手册.pdf
                            <a href="/IndexStyle/Medical/downfiles/医疗器械打码客户端操作手册.pdf"><img src="/IndexStyle/Medical/images/udi_download.jpg" width="17" height="17" alt=""> 下载</a>
                            <span><img src="/IndexStyle/Medical/images/udi_doc.jpg" width="17" height="17" alt=""> 829 KB</span>
                        </li>
                    </ul>
                    <div><img class="img-responsive" src="/IndexStyle/Medical/images/udi_banner.jpg" alt=""></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="js/jquery.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script>
    $(".udi-lt li").click(function () {
        var index = $(this).index();
        // console.log(index);
        $(this).addClass('active').siblings().removeClass('active');
        $(".udi-rt").find("li").eq(index).show().siblings().hide();
    });
</script>
@*<div class="container UDI" >
    <div class="logo_introduction row">
        <h1><img class="img-responsive" src="/IndexStyle/Medical/images/UDI.png" alt=""></h1>
        <p>
            医疗器械唯一标识（Unique Device Identification，简称UDI）是医疗器械产品的电子身份证，唯一标识数据载体是储存或者传输医疗器械唯一标识的媒介，唯一标识数据库是储存医疗器械唯一标识的产品标识与关联信息的数据库，三者共同组成医疗器械唯一标识系统。通过建立医疗器械唯一标识系统，有利于运用信息化手段实现对医疗器械在生产、经营和使用各环节的快速、准确识别，有利于实现产品监管数据的共享和整合，有利于创新监管模式，提升监管效能，有利于加强医疗器械全生命周期管理，实现政府监管与社会治理相结合，形成社会共治的局面，进一步提升公众用械安全有效的保障水平。
        </p>
        <p>
            《规则》明确规定唯一标识应与产品基本特征相关，必须符合唯一性、稳定性和可扩展性的原则。为更好地落实发码机构相关职责要求，《规则》规定发码机构应当为中国境内的法人机构，并要求发码机构应当向注册人/备案人提供执行其标准的流程并指导实施，将编码标准上传至医疗器械唯一标识数据库并动态维护，每年1月31日前向国家药监局提交按照其标准创建的唯一标识上一年度的报告。《规则》规定国家药监局负责组织建立医疗器械唯一标识数据库，供公众查询，数据的真实性、准确性和完整性对于医疗器械的正确识别至关重要，《规则》强调了医疗器械注册人/备案人应当对数据的真实性和准确性负责。
        </p>
        <p>
            医疗器械唯一标识的价值在于应用，各环节的有效应用是形成监管大数据的基础，是实施互联网+监管、智慧监管的重要途径和手段，因此《规则》鼓励各相关方积极在医疗器械生产、经营和使用环节的管理中应用医疗器械唯一标识。
        </p>
        <p>
            《规则》的发布实施，将进一步规范医疗器械唯一标识系统建设，加强医疗器械全生命周期管理，提高医疗器械识别的准确性和一致性，提升医疗器械管理水平和效能，有力保障公众用械安全有效。
        </p>
        <p><a href="Accessory" target="_blank">附件1：《医疗器械唯一标识系统规则》</a></p>
        <p><a href="/IndexStyle/Medical/images/pdf.pdf" target="_blank">附件2：《ZIIOT医疗器械唯一标识二维码编码格式》</a></p>
    </div>
</div>*@