@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">*@
          <a href="/Login/DataDown">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<div class="container assignment">
    <div class="assignment_method row">
        <h1 class="text-center"><img class="img-responsive" src="/IndexStyle/Medical/images/assignment.png" alt=""></h1>
        <table class="table table-bordered assignment_table">
            <thead>
            <tr>
                <th>赋码方式</th>
                <th>生成方式</th>
                <th>方式特点</th>
                <th>适用场景</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/computer.png" alt=""></dt>
                        <dd>激光打码客户端</dd>
                    </dl>
                    <dl class="plus">
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/laser_printer.png" alt=""></dt>
                        <dd>激光打码机</dd>
                    </dl>
                </td>
                <td>
                    <div>支持本地生成</div>
                    <div>支持云端生成</div>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>分为二氧化碳激光和紫外激光器</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>打码速度快，支持任何材质，成码效果好</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>但是设备成本高，尤其是紫外激光器，通常在10万至200万价格</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>流水自动赋码，流水线速
                                快度，打码速要求快</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>适用各种材质，包括金属材质</p>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/computer.png" alt=""></dt>
                        <dd>喷墨打码客户端</dd>
                    </dl>
                    <dl class="plus">
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/assembly_line.png" alt=""></dt>
                        <dd>流水线喷码机</dd>
                    </dl>
                </td>
                <td>
                    <div>支持本地生成</div>
                    <div>支持云端生成</div>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>分为喷墨和墨带两种，主流用墨带</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>设备成本不高，通常在1万至5万</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>成码效果较普通</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>

                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>流水线自动赋码，流水线速度慢，打码速要求不高</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>比较适用于纸质及塑料类材质</p>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/computer.png" alt=""></dt>
                        <dd>热敏打码客户端</dd>
                    </dl>
                    <dl class="plus">
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/thermal.png" alt=""></dt>
                        <dd>热敏打码机</dd>
                    </dl>
                </td>
                <td>
                    <div>支持本地生成</div>
                    <div>支持云端生成</div>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>热敏式打码机，一般是墨带式</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>成本较低，一般在0.2万至2万</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>成码效果好，可以与其他元素集成到标签一起打印</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>人工贴码或机器贴码</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>不干胶标签类材质</p>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/clouddata.png" alt=""></dt>
                        <dd>二维码云端数据</dd>
                    </dl>
                    <dl class="plus">
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/third_party.png" alt=""></dt>
                        <dd>第三方印刷</dd>
                    </dl>
                </td>
                <td>
                    <div>支持云端生成</div>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>热敏打印标签与自动贴标机一体化</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>设备成本不高，大约2万至5万</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>人工贴码或机器贴码</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>不干胶标签类材质</p>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/computer.png" alt=""></dt>
                        <dd>热敏打码客户端</dd>
                    </dl>
                    <dl class="plus">
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><img class="img-responsive" src="/IndexStyle/Medical/images/labeling_Machine.png" alt=""></dt>
                        <dd>热敏打码机及贴标机集</dd>
                    </dl>
                </td>
                <td>
                    <div>支持本地生成</div>
                    <div>支持云端生成</div>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>热敏打印标签与自动贴标机一体化</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>设备成本不高，大约2万至5万</p>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>流水线自动打码贴码，流水线速度一般</p>
                        </li>
                        <li>
                            <i><img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                            <p>不干胶标签材质，适用于往包装箱或大件商品上贴</p>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container">
    <div class="assignment_equipment row">
        <h1 class="text-center"><img class="img-responsive" src="/IndexStyle/Medical/images/assignment_equipment.png" alt=""></h1>
        <div class="row">
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/HANS36K-T.png" alt=""></dt>
                <dd>非金属外包装三期在线打标</dd>
            </dl>
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/HANS58K.png" alt=""></dt>
                <dd>非金属外包装三期在线高速打标</dd>
            </dl>
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/HANS50Y-D.png" alt=""></dt>
                <dd>易拉罐罐底三期高速打标</dd>
            </dl>
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/CODE128C-200D.png" alt=""></dt>
                <dd>奶粉罐二维码在线打标</dd>
            </dl>
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/zebra.png" alt=""></dt>
                <dd>斑马ZT210</dd>
            </dl>
        </div>
        <div class="row row2">
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/cap.png" alt=""></dt>
                <dd>HANS1500D瓶盖激光赋码系统</dd>
            </dl>
            <dl>
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/packing_box.png" alt=""></dt>
                <dd>CODE158C-15K包装盒（袋）精准激光赋码系统</dd>
            </dl>
            <dl>
                <!-- <dt>
                    <video width="366" height="214" controls>
                        <source src="/IndexStyle/Medical/images/movie.ogv" type="video/ogg">
                        您的浏览器不支持Video标签。
                    </video>
                </dt> -->
                <dt><img class="img-responsive" src="/IndexStyle/Medical/images/labeling_Machine2.jpg" style="width: 366px;height:214px;"alt=""></dt>
                <dd>易拉罐罐底三期高速打标</dd>
            </dl>
        </div>
    </div>
</div>