@{
    ViewBag.Title = "DataDown";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="../../IndexStyle/Medical/css/layui.css" rel="stylesheet" type="text/css" />
<link href="../../IndexStyle/icon/iconfont.css" rel="stylesheet" type="text/css" />
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">*@
        <a href="#">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<div class="container">
    <div class="logo_introduction row">
        <div class="download_content_main">
            <div class="download_title">
            </div>
            <ul>
                <li>
                    <fieldset class="layui-elem-field">
                        <legend class="legendTitle">提供商名称: 河北广联信息技术有限公司</legend>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <span>医疗器械UDI管理客户端（UDI码生成、打印赋码和申报DI）.exe </span><span></span><span></span>
                                </div>
                                <div class="file_name">
                                    <span>医疗器械UDI管理客户端操作手册.pdf </span><span></span><span></span>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>9.52MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/UDI%E6%89%93%E7%A0%81%E5%AE%A2%E6%88%B7%E7%AB%AF.exe"
                                        class="markUrl"><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>1.52MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/%E5%8C%BB%E7%96%97%E5%99%A8%E6%A2%B0%E6%89%93%E7%A0%81%E5%AE%A2%E6%88%B7%E7%AB%AF%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C.pdf
"><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
                <li>
                    <fieldset class="layui-elem-field">
                        <legend class="legendTitle">提供商名称: 安徽咏盛信息技术有限公司</legend>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端.exe </span><span></span><span></span>
                                </div>
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端操作手册.pdf </span><span></span><span></span>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>21.1MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/AH/UDIMIS.exe"
                                        class="markUrl" download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>1.8MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/AH/UDIInstructions.pdf"
                                        class="markUrl" download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
                <li>
                    <fieldset class="layui-elem-field">
                        <legend class="legendTitle">提供商名称: 天津方知二维码科技有限责任公司</legend>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端 </span><span></span><span></span>
                                </div>
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端操作手册.pdf </span><span></span><span></span>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>15.8MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/TJ/UDIMIS.exe"
                                        download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>1.68MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/TJ/UDIInstructions.pdf"
                                        download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
				<li>
                    <fieldset class="layui-elem-field">
                        <legend class="legendTitle">提供商名称: 中科信媒（北京）科技有限公司</legend>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端 </span><span></span><span></span>
                                </div>
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端操作手册.pdf </span><span></span><span></span>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>15.8MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/ZKXM/UDIMIS.exe"
                                        download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>1.76MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/ZKXM/UDIInstructions.pdf"
                                        download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
				<li>
                    <fieldset class="layui-elem-field">
                        <legend class="legendTitle">提供商名称: 河南省国标科技有限公司</legend>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端.exe </span><span></span><span></span>
                                </div>
                                <div class="file_name">
                                    <span>医疗器械唯一标识打码客户端操作手册.pdf </span><span></span><span></span>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>20.8MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/HN/UDIMIS.exe"
                                        class="markUrl" download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                                <div class="file_download">
                                    <i class="icon_kb"></i><span>1.76MB</span> <a href="https://udi2.com/IndexStyle/Medical/downfiles/HN/UDIInstructions.pdf"
                                        class="markUrl" download><i class="iconfont icon-xiazai"></i>下载</a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
                
            </ul>
            <div class="download_title" style="display: none;">
            </div>
            <ul style="display: none;">
                <li>
                    <fieldset class="layui-elem-field fieldsetPosition">
                        <legend class="legendTitle">UDI应用系统</legend>
                        <p class="providerPosition">
                            服务提供商</p>
                        <div class="layui-field-box">
                            <div class="download_l">
                                <div class="file_name">
                                    <a href="http://www.udi2.com" target="_blank"><span>UDI产品追溯公共服务平台</span></a>
                                </div>
                                <div class="file_name">
                                    <a href="http://www.udi2.com" target="_blank"><span>UDI产品电子说明书</span> <span></span><span>
                                    </span></a>
                                </div>
                                <div class="file_name">
                                    <a href="https://udi.idcode.net/" target="_blank"><span>UDI赋码申报管理平台</span> <span></span>
                                        <span></span></a>
                                </div>
                            </div>
                            <div class="download_r">
                                <div class="file_download">
                                    <span>河北广联信息技术有限公司</span>
                                    <!-- <a href="http://192.168.1.146:8080/UploadFiles/UDI打码客户端.exe"><i class="iconfont icon-xiazai"></i>下载</a> -->
                                </div>
                                <div class="file_download">
                                    <span>河北广联信息技术有限公司</span>
                                    <!-- <a href=""><i class="iconfont icon-xiazai"></i>下载</a> -->
                                </div>
                                <div class="file_download">
                                    <span>湖南中广汇智信息技术有限公司</span>
                                    <!-- <a href=""><i class="iconfont icon-xiazai"></i>下载</a> -->
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(".udi-lt li").click(function () {
        var index = $(this).index();
        // console.log(index);
        $(this).addClass('active').siblings().removeClass('active');
        $(".udi-rt").find("li").eq(index).show().siblings().hide();
    });
</script>
