@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<!-- banner图片 -->
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt="">*@
        <a href="/Login/DataDown">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<!-- 平台功能 -->
<div class="ptgn">
    <section class="ptgn1">
        <div class="container">
            <section class="row cnt">
                <h1 class="cnt-title"><img src="/IndexStyle/Medical/images/ptgn_title1.png" alt=""></h1>
                <div class="cnt-cnt"><img src="/IndexStyle/Medical/images/ptgn1.png" width="100%" alt=""></div>
            </section>
        </div>
    </section>
    <section class="ptgn2">
        <div class="container">
            <section class="row cnt">
               <h1 class="cnt-title"><img src="/IndexStyle/Medical/images/ptgn_title4.png" alt=""></h1>
               <div class="cnt-cnt"><img src="/IndexStyle/Medical/images/ptgn4.png" width="100%" alt=""></div>
            </section>
        </div>
    </section>
    <section class="ptgn2">
        <div class="container">
            <section class="row cnt">
                <h1 class="cnt-title"><img src="/IndexStyle/Medical/images/ptgn_title2.png" alt=""></h1>
                <div class="cnt-cnt"><img src="/IndexStyle/Medical/images/ptgn2.png" width="100%" alt=""></div>
            </section>
        </div>
    </section>
    <section class="ptgn3">
        <div class="container">
            <section class="row cnt">
                <h1 class="cnt-title"><img src="/IndexStyle/Medical/images/ptgn_title3.png" alt=""></h1>
                <div class="cnt-cnt"><img src="/IndexStyle/Medical/images/ptgn3.png" width="100%" alt=""></div>
            </section>
        </div>
    </section>
</div>
