@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="container-fluid">
    <div class="banner">
        @*<img class="img-responsive" src="/IndexStyle/Medical/images/banner.png" alt=""/>*@
       <a href="/Login/DataDown">
            <img class="img-responsive" src="/IndexStyle/Medical/images/banner-home.jpg" alt="" />
        </a>
    </div>
</div>
<div class="container code_activation">
    <div class="code_activation_method row">
        <h1 class="text-center">
            <img class="img-responsive" src="/IndexStyle/Medical/images/scancodeactivation.png"
                alt="" /></h1>
        <table class="table table-bordered code_activation_table">
            <thead>
                <tr>
                    <th>
                        赋码方式
                    </th>
                    <th>
                        生成方式
                    </th>
                    <th>
                        方式特点
                    </th>
                    <th>
                        适用场景
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_intelligence.png"
                                    alt="" /></dt>
                            <dd>
                                工控智能赋码采集系统</dd>
                        </dl>
                        <dl class="plus">
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt="" /></dt>
                            <dd>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_code.png"
                                    alt="" /></dt>
                            <dd>
                                工业扫码器</dd>
                        </dl>
                    </td>
                    <td>
                        <div>
                            流水线自动</div>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt="" /></i>
                                <p>
                                    红外图像结合模式识别码，体积小</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt="" /></i>
                                <p>
                                    扫码速度极快，识别率极高</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt="" /></i>
                                <p>
                                    成本不高，通常在1万至2万</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt="" /></i>
                                <p>
                                    流水线自动扫码</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    流水线上自动扫码，流水线速度快，产品物件小，各级包装码关联，给码赋数据</p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_intelligence.png"
                                    alt=""></dt>
                            <dd>
                                工控智能赋码采集系统</dd>
                        </dl>
                        <dl class="plus">
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                            <dd>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_camera.png"
                                    alt=""></dt>
                            <dd>
                                工业相机</dd>
                        </dl>
                    </td>
                    <td>
                        <div>
                            流水线自动</div>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    流水线自动成像模式识别码</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    扫码速度普通，识别率高</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    设备成本高，通常在1万至5万</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    流水线自动扫码</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    流水线自动扫码，流水线速度较慢，产品物件大，打码速要求不高</p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_collection.png"
                                    alt=""></dt>
                            <dd>
                                工业扫码采集系统app</dd>
                        </dl>
                        <dl class="plus">
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                            <dd>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/Industrial_PDA.png" alt=""></dt>
                            <dd>
                                工业PDA</dd>
                        </dl>
                    </td>
                    <td>
                        <div>
                            手持人工</div>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    红外识别模式</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    成本较低，一般在2000至6000元</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    扫码速度普通，识别率高</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    人工扫码</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    不具备流水线环境，人工扫码</p>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/industrial_collection.png"
                                    alt=""></dt>
                            <dd>
                                APP</dd>
                        </dl>
                        <dl class="plus">
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/plus.png" alt=""></dt>
                            <dd>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/smart_phone.png" alt=""></dt>
                            <dd>
                                智能手机</dd>
                        </dl>
                    </td>
                    <td>
                        <div>
                            手持人工</div>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    摄像头图像识别模式</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    成本较低</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    扫码速度普通，识别率高</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    人工扫码</p>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    人工贴码或机器贴码</p>
                            </li>
                            <li><i>
                                <img class="img-responsive" src="/IndexStyle/Medical/images/checkmark.png" alt=""></i>
                                <p>
                                    不具备流水线环境，人工扫码</p>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container  code_activation">
    <div class="code_acquisition_data row">
        <h1 class="text-center">
            <img class="img-responsive" src="/IndexStyle/Medical/images/code_acquisition_data.png"
                alt=""></h1>
        <div class="row">
            <ul>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data1.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data2.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data3.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data4.png"
                        alt="">
                </li>
            </ul>
            <ul>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data5.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data6.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data7.png"
                        alt="">
                </li>
                <li>
                    <img class="img-responsive" src="/IndexStyle/Medical/images/acquisition_data8.png"
                        alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
